<div class="left case-yb auto">
    <div class="ml20 title-border-yb">
        <div class="case-title-yb">
            <i class="fa fa-tasks"><span class="ml10"><?php echo $currentCat['name']; ?></span></i>
        </div>
        <div class="mb20">
            <div class="mt10 ml20 mr20 pb10 case-content-yb">
                <div class="tac">
                    <h3 class="title-name-yb"><?php echo $art['title'];?></h3>
                    <p>发布日期：<?php echo date('Y-m-d H:i',$art['ctime']);?><span class="ml10"></span></p>
                </div>
                <div class="case-img-yb tac">
                  <?php if($art['galleryUrl']['url']):?> <img src="<?php echo $art['galleryUrl']['url'];?>"><?php endif;?>
                </div>
                <div class="mt20 text-i2em">
                    <?php echo $art['content'];?>
                </div>
            </div>
        </div>
    </div>
</div>
