<div class="panel panel-default">

  <div class="panel-heading clearfix"><span>讲座报名管理</span>
  </div>
 <div id="a" style="border-bottom:1px solid #ccc; padding:10px;">

  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>姓名</th>
            <th>报名讲座</th>
            <th>座位数</th>
            <th>电话</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <?php
          foreach ($chair as $chair) :
            $uid = $chair['uid'];
            $kaosheng = UserKaoshengModel::model()
              ->getDb()
              ->where(array('uid' => $uid))
              ->queryRow();
          ?>
          <tr>
            <td><?php echo $chair['aid']; ?></td>
            <td><?php echo $kaosheng['name']; ?></td>
            <td><?php echo $chair['chair']; ?></td>
            <td><?php echo $chair['seating']; ?></td>
            <td><?php echo $chair['phone']; ?></td>
            <td value="<?php echo $chair['aid']; ?>">
              <button type="button" onclick="delZj(<?php echo $chair['aid']; ?>)" class="btn ad-delete">删除</button>
            </td>
          </tr>
          <?php
          endforeach;
          ?>
        </tbody>
      </table>
      <nav class="col-md-12 text-center">
        <?php echo $page; ?>
      </nav>
    </div>
  </div>
</div>

<script>
// 删除专家
function delZj(aid)
{
    layer.confirm('确定要删除吗', function (){
        window.location.href = '<?php echo arU('delete'); ?>/aid/' + aid;
    });

}
</script>

