<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>循证</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <link rel="stylesheet" href="../../Public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Public/css/style.css">
    <script type="text/javascript" src="../../Public/js/public.js"></script>
</head>
<body>
<div id="page">
    <header class="header">
        <a href="index.html" id="xzlh-back"><span class="glyphicon glyphicon-menu-left tzwz"></span></a>
        <div class="page-tit zy-tit inner-el">
            <a class="inner-el fl">本科</a>
            <a class="inner-el fl">专科</a>
        </div>
    </header>
    <section class="content">
        <div class="main">
            <!--搜索框 search-box-->
            <div class="search-box">
                <form role="form">
                    <div class="form-group search-wrap rlt">
                        <input type="text" class="form-control" placeholder="搜索专业" style="text-align: center;font-size:21px;">
                        <span class="glyphicon glyphicon-search abs" style="top:9px;left:50%;margin-left:-65px;"></span>
                    </div>
                </form>
            </div>
            <!--专业列表-->
            <div class="zylist clearfix ">
                <div class="zy-item fl clearfix">
                    <ul>
                        <li class="zy-item-li rlt">
                            <span class="text-center">哲学</span>
                            <div class="zy-sigle abs">
                                <a class="inner-el"><span class="glyphicon glyphicon-triangle-right"></span>哲学类</a>
                                <span class="fr">2</span>
                            </div>
                        </li>
                        <li class="zy-item-li rlt">
                            <span class="text-center">经济学</span>
                            <div class="zy-sigle abs hide">
                                <a class="inner-el"><span class="glyphicon glyphicon-triangle-right"></span>经济学类</a>
                                <span class="fr">3</span>
                            </div>
                        </li>
                        <li class="zy-item-li rlt">
                            <span class="text-center">法学</span>
                            <div class="zy-sigle abs hide">
                                <a class="inner-el"><span class="glyphicon glyphicon-triangle-right"></span>法学类</a>
                                <span class="fr">2</span>
                            </div>
                        </li>
                        <li class="zy-item-li rlt ">
                            <span class="text-center">教育学</span>
                            <div class="zy-sigle abs hide">
                                <a class="inner-el"><span class="glyphicon glyphicon-triangle-right"></span>教育学类</a>
                                <span class="fr">2</span>
                            </div>
                        </li>
                        <li class="zy-item-li rlt">
                            <span class="text-center">文学</span>
                            <div class="zy-sigle abs hide">
                                <a class="inner-el"><span class="glyphicon glyphicon-triangle-right"></span>文学类</a>
                                <span class="fr">2</span>
                            </div>
                        </li>
                        <li class="zy-item-li rlt">
                            <span class="text-center">历史学</span>
                            <div class="zy-sigle abs hide">
                                <a class="inner-el"><span class="glyphicon glyphicon-triangle-right"></span>历史学类</a>
                                <span class="fr">2</span>
                            </div>
                        </li>
                        <li class="zy-item-li rlt">
                            <span class="text-center">理学</span>
                            <div class="zy-sigle abs hide">
                                <a class="inner-el"><span class="glyphicon glyphicon-triangle-right"></span>理学类</a>
                                <span class="fr">2</span>
                            </div>
                        </li>
                        <li class="zy-item-li rlt">
                            <span class="text-center">工学</span>
                            <div class="zy-sigle abs hide">
                                <a class="inner-el"><span class="glyphicon glyphicon-triangle-right"></span>工学类</a>
                                <span class="fr">2</span>
                            </div>
                        </li>
                        <li class="zy-item-li rlt">
                            <span class="text-center">农学</span>
                            <div class="zy-sigle abs hide">
                                <a class="inner-el"><span class="glyphicon glyphicon-triangle-right"></span>农学类</a>
                                <span class="fr">2</span>
                            </div>
                        </li>
                        <li class="zy-item-li rlt">
                            <span class="text-center">医学</span>
                            <div class="zy-sigle abs hide">
                                <a class="inner-el"><span class="glyphicon glyphicon-triangle-right"></span>医学类</a>
                                <span class="fr">2</span>
                            </div>
                        </li>
                        <li class="zy-item-li rlt">
                            <span class="text-center">管理学</span>
                            <div class="zy-sigle abs hide">
                                <a class="inner-el"><span class="glyphicon glyphicon-triangle-right"></span>管理学类</a>
                                <span class="fr">2</span>
                            </div>
                        </li>
                        <li class="zy-item-li rlt">
                            <span class="text-center">艺术学</span>
                            <div class="zy-sigle hide abs">
                                <a class="inner-el"><span class="glyphicon glyphicon-triangle-right"></span>艺术学类</a>
                                <span class="fr">2</span>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
    <footer class="footer">
        <a href="index.html" class="active">
            <span class="glyphicon glyphicon-home"></span>
            <p>首页</p>
        </a>
        <a href="">
            <span class="glyphicon glyphicon-heart-empty"></span>
            <p>高考礼物</p>
        </a>
        <a href="">
            <span class="glyphicon glyphicon-th-large"></span>
            <p>循证讲堂</p>
        </a>
        <a href="user.html">
            <span class="glyphicon glyphicon-user"></span>
            <p>个人</p>
        </a>
    </footer>
</div>
</body>
</html>
