<?php include_once('com_left.html');?>
<div class="column1-bzh right bdr">
    <h4 class="cTop pp20-bzh bb fwb fc4-bzh"><span class="bl5-bzh">&nbsp;&nbsp;循征介绍</span></h4>
    <div class="clearfix word-en pp20-bzh ">
循证专家一对一咨询价值：

1、科学树立2016高考目标：让孩子深刻明白一本，211，985等概念对于自身前途和人生的意义，激发孩子整个高三学习的内在源动力，努力冲刺。

2、给孩子高考买一份保险：运用大数据分析等科学手段为孩子高考报考，保证100%录取，实现0失误报考

3、父母送给孩子高中毕业的最好毕业礼物：争取最优化压线录取，不浪费孩子用青春拼搏来的高考分数。

4、从高考志愿开始进行职业规划：实现大学和专业，与孩子个性喜好以及大学四年后就业、考研、出国等规划相匹配（需提前报名，让循证老师有时间和孩子充分沟通）。

5、为孩子找一位优秀的职业导师：循证高考老师均有多年全球500强企业的工作经验，在给孩子职业定位过程中，可以很好地将一些优秀职场经验传授给孩子。

6、为家人买一份安心：专业团队+大数据分析+科学算法=100%最优化录取，孩子安心冲分数，父母照顾孩子身体，然后2016年7月安心领取心仪的大学录取通知书。

7、家长和孩子沟通的桥梁：大部分孩子对父母有逆反心理，在关键问题上，听不进父母的话，但是有循证老师良好沟通能力的介入下，父母孩子均能达成良好共识。
    </div>
</div>
<!-- 循征介绍 -->
