<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>循证</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <link rel="stylesheet" href="../../Public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Public/css/style.css">
    <script type="text/javascript" src="../../Public/js/public.js"></script>
</head>
<body>
<div id="page">
    <header class="header">
        <a href="index.html" id="xzlh-back"><span class="glyphicon glyphicon-menu-left tzwz"></span></a>
        <span class="page-tit">院校数据查询</span>
    </header>
    <section class="content">
        <div class="main clearfix">
            <!--搜索框 search-box-->
            <div class="search-box">
                <form role="form">
                    <div class="form-group search-wrap rlt">
                        <input type="text" class="form-control" placeholder="搜索院校" style="text-align:center;font-size:21px;">
                        <span class="glyphicon glyphicon-search abs" style="top:9px;left:50%;margin-left:-65px;"></span>
                    </div>
                </form>
            </div>
            <!--院校特色.地区-->
            <div class="ts-area">
                <div class="top-tit clearfix">
                    <div class="ts">
                        <a class="text-center rlt" href="javascript:;">院校特色 <span class="glyphicon glyphicon-triangle-right abs"></span></a>
                    </div>
                    <div class="ts area">
                        <a class="text-center rlt" href="javascript:;">所在地区<span class="glyphicon glyphicon-triangle-right abs"></span></a>
                    </div>
                </div>
                <div class="college-list clearfix">
                    <ul>
                        <li class="li-item clearfix">
                            <div class="li-warpper clearfix">
                                <span class="show fl">
                                  <img src="../../Public/img/iconfont-clycle.png" style="width:1.41rem;height:1.41rem">
                                </span>
                                <div class="clearfix fr sc-info">
                                    <h3 class="clearfix">
                                        <b class="fl">北京大学</b>
                                        <div class="fr clearfix">
                                            <span class="school-985">985</span>
                                            <span>211</span>
                                        </div>
                                    </h3>
                                    <p class="clearfix">
                                        <a href="javascript:;" class="fl">查历年录取数据</a>
                                        <small class="fr">所在地:北京</small>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="college-list clearfix">
                    <ul>
                        <li class="li-item clearfix">
                            <div class="li-warpper clearfix">
                                <span class="show fl">
                                  <!--<img src="../../Public/img/iconfont-clycle.png" style="width:1.41rem;height:1.41rem">-->
                                </span>
                                <div class="clearfix fr sc-info">
                                    <h3 class="clearfix">
                                        <b class="fl">北京大学</b>
                                        <div class="fr clearfix">
                                            <span class="school-985">985</span>
                                            <span>211</span>
                                        </div>
                                    </h3>
                                    <p class="clearfix">
                                        <a href="javascript:;" class="fl">查历年录取数据</a>
                                        <small class="fr">所在地:北京</small>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="college-list clearfix">
                    <ul>
                        <li class="li-item clearfix">
                            <div class="li-warpper clearfix">
                                <span class="show fl">
                                  <!--<img src="../../Public/img/iconfont-clycle.png" style="width:1.41rem;height:1.41rem">-->
                                </span>
                                <div class="clearfix fr sc-info">
                                    <h3 class="clearfix">
                                        <b class="fl">北京大学</b>
                                        <div class="fr clearfix">
                                            <span class="school-985">985</span>
                                            <span>211</span>
                                        </div>
                                    </h3>
                                    <p class="clearfix">
                                        <a href="javascript:;" class="fl">查历年录取数据</a>
                                        <small class="fr">所在地:北京</small>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="college-list clearfix">
                    <ul>
                        <li class="li-item clearfix">
                            <div class="li-warpper clearfix">
                                <span class="show fl">
                                  <!--<img src="../../Public/img/iconfont-clycle.png" style="width:1.41rem;height:1.41rem">-->
                                </span>
                                <div class="clearfix fr sc-info">
                                    <h3 class="clearfix">
                                        <b class="fl">北京大学</b>
                                        <div class="fr clearfix">
                                            <span class="school-985">985</span>
                                            <span>211</span>
                                        </div>
                                    </h3>
                                    <p class="clearfix">
                                        <a href="javascript:;" class="fl">查历年录取数据</a>
                                        <small class="fr">所在地:北京</small>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="college-list clearfix">
                    <ul>
                        <li class="li-item clearfix">
                            <div class="li-warpper clearfix">
                                <span class="show fl">
                                  <!--<img src="../../Public/img/iconfont-clycle.png" style="width:1.41rem;height:1.41rem">-->
                                </span>
                                <div class="clearfix fr sc-info">
                                    <h3 class="clearfix">
                                        <b class="fl">北京大学</b>
                                        <div class="fr clearfix">
                                            <span class="school-985">985</span>
                                            <span>211</span>
                                        </div>
                                    </h3>
                                    <p class="clearfix">
                                        <a href="javascript:;" class="fl">查历年录取数据</a>
                                        <small class="fr">所在地:北京</small>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="college-list clearfix">
                    <ul>
                        <li class="li-item clearfix">
                            <div class="li-warpper clearfix">
                                <span class="show fl">
                                  <!--<img src="../../Public/img/iconfont-clycle.png" style="width:1.41rem;height:1.41rem">-->
                                </span>
                                <div class="clearfix fr sc-info">
                                    <h3 class="clearfix">
                                        <b class="fl">北京大学</b>
                                        <div class="fr clearfix">
                                            <span class="school-985">985</span>
                                            <span>211</span>
                                        </div>
                                    </h3>
                                    <p class="clearfix">
                                        <a href="javascript:;" class="fl">查历年录取数据</a>
                                        <small class="fr">所在地:北京</small>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <a href="index.html" class="active">
            <span class="glyphicon glyphicon-home"></span>
            <p>首页</p>
        </a>
        <a href="">
            <span class="glyphicon glyphicon-heart-empty"></span>
            <p>高考礼物</p>
        </a>
        <a href="">
            <span class="glyphicon glyphicon-th-large"></span>
            <p>循证讲堂</p>
        </a>
        <a href="user.html">
            <span class="glyphicon glyphicon-user"></span>
            <p>个人</p>
        </a>
    </footer>
</div>
</body>
</html>
