<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>循证</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <link rel="stylesheet" href="../../Public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Public/css/style.css">
    <script type="text/javascript" src="../../Public/js/public.js"></script>
</head>
<body>
    <div id="page">
        <header class="header">
            <a href="user.html" id="xzlh-back"><span class="glyphicon glyphicon-menu-left"></span></a>
            <span>北京大学</span>
        </header>
        <section class="content">
            <div>
                <div class="xzlh-yxmain">
                    <div class="xzlh-yxhead clearfix">
                        <a href="" class="active">学校介绍</a>
                        <a href="">院校录取数据</a>
                        <a href="">专业录取数据</a>
                    </div>
                    <div class="xzlh-yxinfo">
                        <div class="xzlh-yxpic">
                            <img src="" alt="">
                            <div class="xzlh-yxname">
                                <h4>北京大学</h4>
                                <p>PeKingUniversity(PKU)</p>
                                <span>211 985</span>
                                <span>教育部直属</span>
                            </div>
                        </div>
                        <div class="xzlh-yxmes">
                            <p>
                                <span>所在地：北京</span>
                                <span>院校性质：公办</span>
                            </p>
                            <p>
                                <span>学校隶属：教育部</span>
                                <span>学历层次：大学招生章程</span>
                            </p>
                            <p>
                                <span>办学类型：大学</span>
                                <span>排名：全国1综合1</span>
                            </p>
                            <p>院校特色：211 985</p>
                            <p>院校地址：北京市海淀区颐和园路5号</p>
                            <p>招生网址：http://www.pku.edu.cn</p>
                        </div>
                    </div>
                    <div class="xzlh-yxIntroduction">
                        <h3>学校介绍</h3>
                        <p class="justify">工业和信息化部直属的中国信息通信研究院目前发布2016年中国嘻嘻同喜也十大趋势。工业和信息化部直属的中国信息通信研究院目前发布2016年中国嘻嘻同喜也十大趋势。工业和信息化部直属的中国信息通信研究院目前发布2016年中国嘻嘻同喜也十大趋势。工业和信息化部直属的中国信息通信研究院目前发布2016年中国嘻嘻同喜也十大趋势。工业和信息化部直属的中国信息通信研究院目前发布2016年中国嘻嘻同喜也十大趋势。工业和信息化部直属的中国信息通信研究院目前发布2016年中国嘻嘻同喜也十大趋势。工业和信息化部直属的中国信息通信研究院目前发布2016年中国嘻嘻同喜也十大趋势。工业和信息化部直属的中国信息通信研究院目前发布2016年中国嘻嘻同喜也十大趋势。工业和信息化部直属的中国信息通信研究院目前发布2016年中国嘻嘻同喜也十大趋势。工业和信息化部直属的中国信息通信研究院目前发布2016年中国嘻嘻同喜也十大趋势。工业和信息化部直属的中国信息通信研究院目前发布2016年中国嘻嘻同喜也十大趋势。工业和信息化部直属的中国信息通信研究院目前发布2016年中国嘻嘻同喜也十大趋势。</p>
                    </div>
                </div>
            </div>
        </section>

    </div>
</body>
</html>
