<!-- 分数线详情页 -->
<div class="scoreLineInfo clearfix">
    <!-- 小导航 -->
    <div class="minNav w100 mt10 bg3-bzh pt10 pb10 fcw clearfix">
        <i class="fa fa-home fs16px-bzh  pl20"></i>&nbsp;<a href="">循证高考</a>&nbsp;>&nbsp;<a href="">批次线</a>&nbsp;>&nbsp;<a href="">北京历年分数线</a>&nbsp;
    </div>
    <h3 style="border-top:2px solid #222;" class="pr mt30 clearfix tac"><span class="dib pr line-solid-bzh fcb">北京历年分数线</span></h3>
    <table class="table table-bordered tac fs14px-bzh">
        <thead>
            <tr class="fcw bg4-bzh"><!-- 标签 -->
                <td style="width: 80px;border-right: 1px solid #fff;">年份</td>
                <td style="width: 80px;border-right: 1px solid #fff;">科类</td>
                <td style="border-right: 1px solid #fff;" colspan=4 >各批次控制线</td>
                <td colspan=2 >院校查询</td>
            </tr>
        </thead>
        <tr>
            <tbody class="table table-bordered tac fs14px-bzh"><!-- 分数块 -->
                <tr class="bge-bzh">
                    <td rowspan=3>2015年</td>
                    <td></td>
                    <td>本一批</td>
                    <td>本二批</td>
                    <td>本三批</td>
                    <td>高职专科批</td>
                    <td style="width:80px;">按分数</td>
                    <td style="width:80px;">按名次</td>
                </tr>
                <tr>
                    <td>文科</td>
                    <td>500</td>
                    <td>500</td>
                    <td>500</td>
                    <td>500</td>
                    <td>500</td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>理科</td>
                    <td>500</td>
                    <td>500</td>
                    <td>500</td>
                    <td>500</td>
                    <td>500</td>
                    <td>500</td>
                </tr>
            </tbody>
            <tbody class="table table-bordered tac fs14px-bzh"><!-- 分数块 -->
                <tr class="bge-bzh">
                    <td rowspan=3>2014年</td>
                    <td></td>
                    <td>本一批</td>
                    <td>本二批</td>
                    <td>本三批</td>
                    <td>高职专科批</td>
                    <td style="width:80px;">按分数</td>
                    <td style="width:80px;">按名次</td>
                </tr>
                <tr>
                    <td>文科</td>
                    <td>500</td>
                    <td>500</td>
                    <td>500</td>
                    <td>500</td>
                    <td>500</td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>理科</td>
                    <td>500</td>
                    <td>500</td>
                    <td>500</td>
                    <td>500</td>
                    <td>500</td>
                    <td>500</td>
                </tr>
            </tbody>
        </tr>
    </table>
</div>