<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>循证</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <link rel="stylesheet" href="../../Public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Public/css/style.css">
    <script type="text/javascript" src="../../Public/js/public.js"></script>
</head>
<body>
    <div id="page">
        <header class="header">
            <a href="user.html" id="xzlh-back"><span class="glyphicon glyphicon-menu-left"></span></a>
        </header>
        <section class="content">
            <div>
                <div class="xzlh-userdetail">
                    <ul>
                        <li>
                            <a href="" class="clearfix">
                                <span>头像</span>
                                <span><img src="../../Public/img/heaepic.jpg" alt="头像"><i class="glyphicon glyphicon-menu-right"></i></span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="clearfix">
                                <span>用户名</span>
                                <span><em>笨小孩</em><i class="glyphicon glyphicon-menu-right" style="visibility: hidden;"></i></span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="clearfix">
                                <span>真实姓名</span>
                                <span><em>大笨蛋</em><i class="glyphicon glyphicon-menu-right"></i></span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="clearfix">
                                <span>性别</span>
                                <span><em>男</em><i class="glyphicon glyphicon-menu-right"></i></span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="clearfix">
                                <span>省市信息</span>
                                <span><em>请选择</em><i class="glyphicon glyphicon-menu-right"></i></span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="clearfix">
                                <span>学校</span>
                                <span><em>请选择</em><i class="glyphicon glyphicon-menu-right"></i></span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="clearfix">
                                <span>QQ</span>
                                <span><em>111111111</em><i class="glyphicon glyphicon-menu-right"></i></span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="clearfix">
                                <span>邮箱</span>
                                <span><em>111@qq.com</em><i class="glyphicon glyphicon-menu-right"></i></span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:" class="xzlh-pwsign" id="repaw">修改密码</a>
                            <a href="javascript:" class="xzlh-pwsign" id="signUp">退出登录</a>
                        </li>
                        <li>

                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <footer class="footer">
            <a href="index.html" class="active">
                <span class="glyphicon glyphicon-home"></span>
                <p>首页</p>
            </a>
            <a href="">
                <span class="glyphicon glyphicon-heart-empty"></span>
                <p>高考礼物</p>
            </a>
            <a href="">
                <span class="glyphicon glyphicon-th-large"></span>
                <p>循证讲堂</p>
            </a>
            <a href="user.html">
                <span class="glyphicon glyphicon-user"></span>
                <p>个人</p>
            </a>
        </footer>
    </div>
</body>
</html>
