<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>循证</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <link rel="stylesheet" href="../../Public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Public/css/style.css">
    <script type="text/javascript" src="../../Public/js/public.js"></script>
</head>
<body>
    <div id="page">
        <section class="content xzlh-user">
            <div>
                <div class="xzlh-userhead">
                    <div class="xzlh-head">
                        <span>
                            <img src="../../Public/img/case1.jpg" alt="头像">
                        </span>
                        <span>普通会员</span>
                        <h3>大傻逼</h3>
                        <div class="xzlh-vip clearfix">
                            <span><a href="">购买志愿卡享VIP特权</a></span>
                            <span><a href="">查看权限</a></span>
                        </div>
                    </div>
                </div>
                <div class="xzlh-featuresList">
                    <ul>
                        <li>
                            <a href="userdetail.html" class="clearfix">
                                <span style="background:url('../../Public/img/user1.jpg') no-repeat 0 0/100% 100%;"></span>
                                <span>个人资料</span>
                                <span class="glyphicon glyphicon-menu-right"></span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="clearfix">
                                <span style="background:url('../../Public/img/user2.jpg') no-repeat 0 0/100% 100%;"></span>
                                <span>我的成绩</span>
                                <span class="glyphicon glyphicon-menu-right"></span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="clearfix">
                                <span style="background:url('../../Public/img/user3.jpg') no-repeat 0 0/100% 100%;"></span>
                                <span>我的志愿表</span>
                                <span class="glyphicon glyphicon-menu-right"></span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="clearfix">
                                <span style="background:url('../../Public/img/user4.jpg') no-repeat 0 0/100% 100%;"></span>
                                <span>我关注的院校</span>
                                <span class="glyphicon glyphicon-menu-right"></span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="clearfix">
                                <span style="background:url('../../Public/img/user5.jpg') no-repeat 0 0/100% 100%;"></span>
                                <span>我的一二三诊模拟志愿</span>
                                <span class="glyphicon glyphicon-menu-right"></span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="clearfix">
                                <span style="background:url('../../Public/img/user6.jpg') no-repeat 0 0/100% 100%;"></span>
                                <span>我的高考模拟志愿</span>
                                <span class="glyphicon glyphicon-menu-right"></span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="clearfix">
                                <span style="background:url('../../Public/img/user7.jpg') no-repeat 0 0/100% 100%;"></span>
                                <span>客服电话400-820-8888</span>
                                <span class="glyphicon glyphicon-menu-right"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <footer class="footer">
            <a href="index.html" class="active">
                <span class="glyphicon glyphicon-home"></span>
                <p>首页</p>
            </a>
            <a href="">
                <span class="glyphicon glyphicon-heart-empty"></span>
                <p>高考礼物</p>
            </a>
            <a href="">
                <span class="glyphicon glyphicon-th-large"></span>
                <p>循证讲堂</p>
            </a>
            <a href="">
                <span class="glyphicon glyphicon-user"></span>
                <p>个人</p>
            </a>
        </footer>
    </div>
</body>
</html>
