<!-- 支付成功提示页面 -->
<style type="text/css">
    #activeCard {font-size: 20px;}
    #activeCard input[type='text']{border: 1px solid #ccc;}
</style>
<div id="activeCard" class="mt40 pl20 pb40 pr20 h300 h50">
    <h2 class="tac fcl">VIP卡激活</h2>
    <div class="title mt30"><span>请输入购买的VIP卡激活码：</span><input class="p25 h30 br5" type="text" placeholder="激活码输入框" name="number"> <input type="submit" style="width: 120px;" class=" ml10 btn btn-info" value="激&nbsp;&nbsp;活" name="logining"></div>
    <h3 class="mt20"><i class="fa fa-exclamation-circle"></i> 温馨提示</h3>
    <div class="back">点击<a href="" class="fcl"> 返回首页 </a>到网站首页，或点击<a href="" class="fcl"> 我的VIP卡 </a>，查看您购买的VIP卡激活码</a></div>
    <div class="tips">若暂未购买卡片，请点击<a href="" class="fcl"> 去购买 </a>！</div>
</div>