<div class="mainIndex ml20 clearfix">
	<div class="mainHeader">
		<div class="profession-title">
			<h2 class="left">专家咨询</h2>
			<div class="line right mt10 mb30"></div>
		</div>
	</div>
	<div class="mt20 mb20 clearfix clearfloat">
		<ul class="tac lbul">
			<li>
				<div class="fjyj tac selection left">
					<span>选择专家</span>
					<div class="yjlogo mt5 tac">
						<i class="fa fa-user-plus"></i>
					</div>
				</div>
				<div class="left">
					<i class="fa fa-angle-double-right fxright"></i>
				</div>
			</li>
			<li>
				<div class="fjyj tac left">
					<span>预约咨询</span>
					<div class="yjlogo mt5 tac">
						<i class="fa fa-clock-o"></i>
					</div>
				</div>
				<div class="left">
					<i class="fa fa-angle-double-right fxright"></i>
				</div>
			</li>
			<li>
				<div class="fjyj tac left">
					<span>订单付款</span>
					<div class="yjlogo mt5 tac">
						<i class="fa fa-cc-visa"></i>
					</div>
				</div>
				<div class="left">
					<i class="fa fa-angle-double-right fxright"></i>
				</div>
			</li>
			<li>
				<div class="fjyj tac left">
					<span>专家1对1咨询</span>
					<div class="yjlogo mt5 tac">
						<i class="fa fa-group"></i>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="o2o clearfix o2ow mr20">
		<div class="o2o-logo tac left ml20 mt40 mb40">
			<h1>1对1</h1>
		</div>
		<div class="o2o-mess left mt30 ml20 mr20 item">
			<p>高考志愿填报被称为 “第二次高考” ，重要性不言而喻，从选择学校到专业，从研究录取数据到关注招生计划，从考生个人意愿到未来职业规划……高考志愿填报其实是一个非常复杂的统工程。但相比较考生和家长备战高考数年的充分准备，很多家长和考生对志愿填报的准备则显得极其不足。即使有部分家长提前做了功课，但面对这么庞大的选择范围和复杂程度的各种规则，依然感觉没有把握。然而，志愿填报中对任何一个细节的忽视都有可能造谬以千里的失误！<br/>
			<a href="">1对1专家咨询 </a>
			<span class="ml10"> VIP志愿填报辅导，助您解决志愿填报困扰！</span>
			</p>
		</div>
	</div>
	<div class="detail-expert tac clearfix mt20 mr20">
		<?php foreach ($expect as $key => $expect) {
			# code...
		?>
		<div class="detail-vip ml20 mt30">
			<div class="vip-header left">
				<img src="<?php echo $expect['galleryUrl']['url'];?>" />
			</div>
			<div class="left ml20 mt20">
				<h3><?php echo $expect['title'];?></h3>
				<p>vip咨询师</p>
			</div>
			<div class="mes left">
				<p class=""><?php echo $expect['content'];?></p>
				<a onclick="expertf()">
					<div class="itme mt20 mb20 tac ensure-btn">
						预约
					</div>
				</a>
			</div>
		</div>

		<?php } ?>
	</div>
	<div class="mt20 mr20">
		<a class="mt10 ml20" href="<?php echo arU('User/expertDetailForm'); ?>"><span class="greenf fwb fs18"><i class="fa fa-plus-square mr10"></i>我的预约单</span></a>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('.mes p').each(function(index){
			if($('.mes p').eq(index).text() != ""){
				if($('.mes p').eq(index).text().length >= 53){
					$('.mes p').eq(index).text($('.mes p').eq(index).text().substring(0,53)+'……');
				}
			}
		});
	});

	function expertf(){
        AjaxURL('<?php echo AR_SERVER_PATH; ?>Api/iflogin?','',eLogin,'',my);
    }

    function eLogin(data,id){
        if(data.ret_code == '1000'){
            window.location.href="<?php echo arU('User/expertDetail',array('aid'=>$expect['aid'])); ?>";
        }else{
            login();
        }
    }
    function my(){

    }
</script>