<div class="mainIndex ml20 clearfix">
	<div class="mainHeader">
		<div class="o2o-title">
			<h4 class="mt10 ml20 greenf fwb"><i class="fa fa-plus-square mr10"></i>我的预约单--详情</h4>
		</div>
	</div>
	<div class="o2o clearfix mt20 mb20">
		<div class="left ml10 mt20 mb20">
			<div class="vip-header"><img src="<?php echo $showOne['galleryUrl']['url'] ?>"/></div>
		</div>
		<div class="left ml50 mr20 mb20 item expert-detail">
			<p class="detail-font">
				您选择了
				<span><?php echo $showOne['title'];?></span>
				专家为您提供高考志愿填报咨询
			</p>
			<ul>
				<li class="ml20">预约日期：<span></span></li>
				<li class="ml20 mt10 mb10">通话时段：<span></span></li>
				<li class="ml20 mt10 mb10">咨询问题：<span></span></li>
				<li class="ml20 mt10 mb10">其他问题：<span></span></li>
				<li class="ml20 mt10 mb10">手机号码：<span></span></li>
				<li class="ml20 mt10 mb10">付款状态：<span></span></li>
				<li class="ml20 mt10 mb10">咨询跟踪：<span></span></li>
				<li class="ml20 mt30 mb10"><a href="<?php echo arU('User/expertDetailForm') ?>" class="tjan right">返回预约单</a></li>
			</ul>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){

	});
</script>