<!-- 选择院校专业 -->
<div class="system-title pl20 pt10 pb10 clearfix">
    <h2 class="left"><i class="fa fa-gear"></i>&nbsp;四川高考志愿智能填报系统</h2>
    <ul class="hmenu right">
        <li>输入真实高考成绩</li>
        <li>选择填报批次</li>
        <li class="selected">选择院校专业</li>
        <!-- <li>志愿表验证</li> -->
        <li>生成模拟志愿表</li>
    </ul>
</div>
<hr>
<h4 class="tac fwb fc8-bzh mt20 mb20">四川省2015年<span class="scType"></span>学校志愿智能模拟</h4>
<div class="bge-bzh pp10-bzh ml20 mr20 mb10">
    <span class="fwb mr20">您的高考成绩</span>科类：<span class="fc6-bzh mr20 s-subject"></span>总分：<span class="fc6-bzh mr20 s-score"></span>
    <!-- 位次：<span class="fc6-bzh s-rank"></span> -->
</div>
<table style="width: 695px;" class="tac table-bordered auto fs14px-bzh">
    <tr class="fwb">
        <th style="width: 50px;"></th>
        <th style="width: 270px;">学校<i class="fa fa-question-circle quest ml10 mr10 quest-s"></i><span class="mfc">志愿知识</span></th>
        <th style="width: 270px;">专业<i class="fa fa-question-circle quest ml10 mr10 quest-p"></i><span class="mfc">志愿知识</span></th>
        <th style="width: 80px;">是否服从<br>专业调配</th>
    </tr>
    <tr class="xzlh-zylist"><!-- A志愿 -->
        <td>A<br>志<br>愿</td>
        <td class="item-bzh pt10 vat-bzh">
            <input type="text" style="width: 185px;height: 30px;" name="" id="" class="bdr">
            <button class="btn btn-info btn-sm type-Volunteer" value="A">选择A志愿</button>
            <span class="schoolMes" value="A"></span>
            <span style="line-height: 25px;" class="fa mt10 ml10 mr10 alert alert-warning fcr message" value="A"><i class="fa fa-info-circle"></i>&nbsp;点击按钮，系统会为您智能推荐适合作为A志愿“冲一冲”的学校</span>
        </td>
        <td class="item-bzh">
            <ul class="zymk" value="A">
                <li class="mt10">
                    <span class="fwb fc8-bzh">1.</span><input readonly="readonly" type="text" style="width: 185px;height: 30px;" name="" id="" class="ml5 mr5 zy-name"><button class="btn btn-default btn-sm profession" value="1">选择</button>
                </li>
                <li class="mt10">
                    <span class="fwb fc8-bzh">2.</span><input readonly="readonly" type="text" style="width: 185px;height: 30px;" name="" id="" class="ml5 mr5 zy-name"><button class="btn btn-default btn-sm profession" value="2">选择</button>
                </li>
                <li class="mt10">
                    <span class="fwb fc8-bzh">3.</span><input readonly="readonly" type="text" style="width: 185px;height: 30px;" name="" id="" class="ml5 mr5 zy-name"><button class="btn btn-default btn-sm profession" value="3">选择</button>
                </li>
                <li class="mt10">
                    <span class="fwb fc8-bzh">4.</span><input readonly="readonly" type="text" style="width: 185px;height: 30px;" name="" id="" class="ml5 mr5 zy-name"><button class="btn btn-default btn-sm profession" value="4">选择</button>
                </li>
                <li class="mt10">
                    <span class="fwb fc8-bzh">5.</span><input readonly="readonly" type="text" style="width: 185px;height: 30px;" name="" id="" class="ml5 mr5 zy-name"><button class="btn btn-default btn-sm profession" value="5">选择</button>
                </li>
                <li class="mt10 mb10">
                    <span class="fwb fc8-bzh">6.</span><input readonly="readonly" type="text" style="width: 185px;height: 30px;" name="" id="" class="ml5 mr5 zy-name"><button class="btn btn-default btn-sm profession" value="6">选择</button>
                </li>
            </ul>
            <!-- <hr>
            <button class="w80 btn btn-default mb10">点此智能排序专业</button> -->
        </td>
        <td>
            <label><input type="radio" name="checkA" style="margin-bottom: 2px;" value="是" checked>&nbsp;是</label><br><br><label><input type="radio" name="checkA" style="margin-bottom: 2px;" value="no">&nbsp;否</label>
        </td>
    </tr>
    <tr class="xzlh-zylist"><!-- B1志愿 -->
        <td>B1<br>志<br>愿</td>
        <td class="item-bzh pt10 vat-bzh">
            <input type="text" style="width: 185px;height: 30px;" name="" id="" class="bdr ml3">
            <button class="btn btn-info btn-sm type-Volunteer" value="B1">选择B1志愿</button>
            <span class="schoolMes" value="B1"></span>
            <span style="line-height: 25px;" class="fa mt10 ml10 mr10 alert alert-warning fcr" value="B1"><i class="fa fa-info-circle"></i>&nbsp;点击按钮，系统会为您智能推荐适合作为B1志愿“争一争”的学校</span>
        </td>
        <td class="item-bzh">
            <ul class="zymk" value="B1">
                <li class="mt10">
                    <span class="fwb fc8-bzh">1.</span><input readonly="readonly" type="text" style="width: 185px;height: 30px;" name="" id="" class="ml5 mr5 zy-name"><button class="btn btn-default btn-sm profession" value="1">选择</button>
                </li>
                <li class="mt10">
                    <span class="fwb fc8-bzh">2.</span><input readonly="readonly" type="text" style="width: 185px;height: 30px;" name="" id="" class="ml5 mr5 zy-name"><button class="btn btn-default btn-sm profession" value="2">选择</button>
                </li>
                <li class="mt10">
                    <span class="fwb fc8-bzh">3.</span><input readonly="readonly" type="text" style="width: 185px;height: 30px;" name="" id="" class="ml5 mr5 zy-name"><button class="btn btn-default btn-sm profession" value="3">选择</button>
                </li>
                <li class="mt10">
                    <span class="fwb fc8-bzh">4.</span><input readonly="readonly" type="text" style="width: 185px;height: 30px;" name="" id="" class="ml5 mr5 zy-name"><button class="btn btn-default btn-sm profession" value="4">选择</button>
                </li>
                <li class="mt10">
                    <span class="fwb fc8-bzh">5.</span><input readonly="readonly" type="text" style="width: 185px;height: 30px;" name="" id="" class="ml5 mr5 zy-name"><button class="btn btn-default btn-sm profession" value="5">选择</button>
                </li>
                <li class="mt10 mb10">
                    <span class="fwb fc8-bzh">6.</span><input readonly="readonly" type="text" style="width: 185px;height: 30px;" name="" id="" class="ml5 mr5 zy-name"><button class="btn btn-default btn-sm profession" value="6">选择</button>
                </li>
            </ul>
            <!-- <hr>
            <button class="w80 btn btn-default mb10">点此智能排序专业</button> -->
        </td>
        <td>
            <label><input type="radio" name="checkB" style="margin-bottom: 2px;" value="是" checked>&nbsp;是</label><br><br><label><input type="radio" name="checkB" style="margin-bottom: 2px;" value="否">&nbsp;否</label>
        </td>
    </tr>
    <tr class="xzlh-zylist"><!-- B2志愿 -->
        <td>B2<br>志<br>愿</td>
        <td class="item-bzh pt10 vat-bzh">
            <input type="text" style="width: 185px;height: 30px;" name="" id="" class="bdr ml3">
            <button class="btn btn-info btn-sm type-Volunteer" value="B2">选择B2志愿</button>
            <span class="schoolMes" value="B2"></span>
            <span style="line-height: 25px;" class="fa mt10 ml10 mr10 alert alert-warning fcr" value="B2"><i class="fa fa-info-circle"></i>&nbsp;点击按钮，系统会为您智能推荐适合作为B2志愿“稳一稳”的学校</span>
        </td>
        <td class="item-bzh">
            <ul class="zymk" value="B2">
                <li class="mt10">
                    <span class="fwb fc8-bzh">1.</span><input readonly="readonly" type="text" style="width: 185px;height: 30px;" name="" id="" class="ml5 mr5 zy-name"><button class="btn btn-default btn-sm profession" value="1">选择</button>
                </li>
                <li class="mt10">
                    <span class="fwb fc8-bzh">2.</span><input readonly="readonly" type="text" style="width: 185px;height: 30px;" name="" id="" class="ml5 mr5 zy-name"><button class="btn btn-default btn-sm profession" value="2">选择</button>
                </li>
                <li class="mt10">
                    <span class="fwb fc8-bzh">3.</span><input readonly="readonly" type="text" style="width: 185px;height: 30px;" name="" id="" class="ml5 mr5 zy-name"><button class="btn btn-default btn-sm profession" value="3">选择</button>
                </li>
                <li class="mt10">
                    <span class="fwb fc8-bzh">4.</span><input readonly="readonly" type="text" style="width: 185px;height: 30px;" name="" id="" class="ml5 mr5 zy-name"><button class="btn btn-default btn-sm profession" value="4">选择</button>
                </li>
                <li class="mt10">
                    <span class="fwb fc8-bzh">5.</span><input readonly="readonly" type="text" style="width: 185px;height: 30px;" name="" id="" class="ml5 mr5 zy-name"><button class="btn btn-default btn-sm profession" value="5">选择</button>
                </li>
                <li class="mt10 mb10">
                    <span class="fwb fc8-bzh">6.</span><input readonly="readonly" type="text" style="width: 185px;height: 30px;" name="" id="" class="ml5 mr5 zy-name"><button class="btn btn-default btn-sm profession" value="6">选择</button>
                </li>
            </ul>
            <!-- <hr>
            <button class="w80 btn btn-default mb10">点此智能排序专业</button> -->
        </td>
        <td>
            <label><input type="radio" name="checkC" style="margin-bottom: 2px;" value="是" checked>&nbsp;是</label><br><br><label><input type="radio" name="checkC" style="margin-bottom: 2px;" value="否">&nbsp;否</label>
        </td>
    </tr>
</table>
<div class="iback mt20 mb20 ml20 tac">
    <a href="<?php echo arU('User/simulationSystemTwoInfo'); ?>">返回批次选择</a>
    <a href="javascript:" class="saveForm ml20">保存志愿表单</a>
</div>
<!-- 推荐院校 -->
<div id="zytb" class="clear ml20 mr20">
    <h4 class="fwb fc8-bzh mt10 mb20">以下学校适合作为<span class="name-zy"></span>志愿填报，请手动选择：</h4>
    <div class="alert alert-warning">
        <p class="fsy"><i class="fa fa-info-circle mr10 fcr"></i>1、下面推荐的是适合您“<span class="tyMes"></span>”的学校，过于冒险和过于保守的学校不会被推荐；</p>
        <p class="mly">2、投档概率为系统估算，仅供考生和家长参考，不代表最终实际投档结果！</p>
    </div>
    <table class="table-bordered table-w tac w100 fs14px-bzh" id="school-inform">
        <tr class="bg3-bzh fcw">
            <th style="width: 40%;height: 40px;">学校名称</th>
            <th>排名</th>
            <th>所在地</th>
            <th>历年录取</th>
            <th width="20%">投档概率估算</th>
            <th>操作</th>
        </tr>
    </table>
    <div class="mask-list clearfix mt20">
        <div class="mask tac pt30">
            <p class="sum-school">本志愿为您推荐的院校共有<em></em>所</p>
            <a href="#">
                <div class="xzcard">圆梦卡用户查看全部推荐院校</div>
            </a>
            <p class="xzcm">
                <a href="<?php echo arU('Index/vipCard'); ?>">圆梦卡介绍<i class="fa fa-angle-right ml10"></i></a>
                <a href="#" class="ml20">他们这么说<i class="fa fa-angle-right ml10"></i></a>
            </p>
        </div>
    </div>
    <div class="none-mes clear mt20">
        <i class="fa fa-frown-o"></i><span class="ml10">您搜索的院校不存在或者输入有误！</span>
    </div>
    <div class="ssearch tac pt20 bb pb50"><!-- 搜索院校 -->
        <div class="item-bzh">
            <span class="fs16px-bzh">搜索院校：</span><input type="text" name="" id="sc-name" class="pp5-bzh ml10 mr10" style="width: 400px;">
        </div>
        <div class="sum-yb mb20">
            <label class="fs16px-bzh">所在地区：</label>
            <div class="reg-r-bzh dib tal">
                <select id="province" name="province" style="min-width:80px;">
                    <option selected="selected" value="0">请选择</option>
                </select>
            </div>
            <button class="btn btn-info btn-sm search" style="width: 80px;"><i class="fa fa-search"></i>&nbsp;搜索</button>
        </div>
    </div>
</div>

<!-- 推荐院校专业 -->
<div id="zyxz" class="clear ml20 mr20">
    <h4 class="fwb fc8-bzh mt10 mb20">以下为<span class="tyVolunteer"></span>2015年招生专业，请手动选择：</h4>
    <div class="alert alert-warning">
        <p class="fsy"><i class="fa fa-info-circle mr10 fcr"></i>1、以下专业招生计划可能会有变动，以四川省教育考试院公布的为准。</p>
        <p class="mly">2、实际填报时，请务必对照最新《招生计划》确认招生专业和代码；</p>
    </div>
    <table class="table-bordered table-w tac w100 mb50 fs14px-bzh" id="profession-inform">
        <tr class="bg3-bzh fcw">
            <th style="width: 40%;height: 40px;">专业名称</th>
            <th>专业类别</th>
            <th>专业类别</th>
            <th>录取分数</th>
            <th>录取均分</th>
            <th>录取位次</th>
            <th>操作</th>
        </tr>
    </table>
</div>

<!-- 填报学校顺序提示 -->
<div id="m-order" class="m-card clear">
     <h4 class="fwb fc8-bzh pt10 pb10 pl20">信息</h4>
     <div class="m-content mt30 mb30 ml50 clearfix">
         <i class="fa fa-frown-o ml20 mr10 left"></i>
         <div class="left">请先选择前一学校，依次选择填报！</div>
     </div>
     <div class="m-menu clearfix">
         <a href="javascript:void(0);" class="right pb5 pt5"><div class="mr10" onclick="ClosePage(cindex);">重新选择</div></a>
     </div>
</div>

<!-- 填报专业顺序提示 -->
<div id="z-order" class="m-card clear">
     <h4 class="fwb fc8-bzh pt10 pb10 pl20">信息</h4>
     <div class="m-content mt30 mb30 ml50 clearfix">
         <i class="fa fa-frown-o ml20 mr10 left"></i>
         <div class="left">请先选择前一学校专业，依次选择填报！</div>
     </div>
     <div class="m-menu clearfix">
         <a href="javascript:void(0);" class="right pb5 pt5"><div class="mr10" onclick="ClosePage(cindex);">重新选择</div></a>
     </div>
</div>

<!-- 填报专业顺序提示 -->
<div id="t-order" class="m-card clear">
     <h4 class="fwb fc8-bzh pt10 pb10 pl20">信息</h4>
     <div class="m-content mt30 mb30 ml50 clearfix">
         <i class="fa fa-frown-o ml20 mr10 left"></i>
         <div class="left">请先选择学校，再选择专业！</div>
     </div>
     <div class="m-menu clearfix">
         <a href="javascript:void(0);" class="right pb5 pt5"><div class="mr10" onclick="ClosePage(cindex);">重新选择</div></a>
     </div>
</div>

<!-- 填报超时提示 -->
<div id="m-timeout" class="m-card clear">
     <h4 class="fwb fc8-bzh pt10 pb10 pl20">信息</h4>
     <div class="m-content mt30 mb30 ml50 clearfix">
         <i class="fa fa-exclamation-triangle ml20 mr10 left"></i>
         <div class="left">您此次填志愿表超时，请重新开始！</div>
     </div>
     <div class="m-menu clearfix">
         <a href="<?php echo arU('User/index'); ?>" class="right pb5 pt5"><div class="mr10">返回</div></a>
     </div>
</div>

<!-- 历年录取学校信息提示 -->
<div id="ln-detail" class="m-card clear">
     <h4 class="fwb fc8-bzh pt10 pb10 pl20">信息</h4>
     <div class="m-content mt30 mb30 ml50 clearfix">
         <i class="fa fa-times-circle ml20 mr10 left"></i>
         <div class="left">历年录取情况仅限已购买圆梦卡用户查看！</div>
     </div>
     <div class="m-menu clearfix">
         <a href="javascript:void(0);" class="right pb5 pt5 mfsy"><div class="mr10" onclick="ClosePage(cindex);">返回</div></a>
         <a href="<?php echo arU('Index/vipCard'); ?>" class="right pb5 pt5"><div class="mr10">没有圆梦卡？购买</div></a>
     </div>
</div>

<script type="text/javascript">
    // var score = "<?php echo arRequest('score'); ?>", // 取得分数值
    //     km = "<?php echo arRequest('km'); ?>", // 取得科目值
    //     pc = "<?php echo arRequest('pc'); ?>", // 取得批次值
    //     arr = [], // 保存的专业名称
    //     arrobj = {}, // 保存所有志愿的专业名称，一一对应关系{A：[所选专业]}
    //     schoolObj = {}; // 保存所有志愿对应的学校名称,一一对应关系{A:'string'}
    // var cindex,indexLoad,score,type,km,pc=0,pnum=3,sname,zysname,typebtn,typesc,zyval,zysum,lastType,firstType,zyfirst,zylast,zyupdate=[],zyuzt=false,scval,scName,areaIndex,areaValue,data,sszt,czgn,czvalue,upvalue,downvalue,czindex,cztype,czzt;
    // var reg=/^[\u4E00-\u9FA5]+$/;
    //
    // $(document).ready(function(){
    //     $('.s-subject').text($.cookie('subject'));
    //     $('.s-score').text($.cookie('score'));
    //     $('.s-rank').text($.cookie('rank'));
    //     if($.cookie('valueType') == 'T'){
    //         $('.scType').text('提前批');
    //     }
    //
    //     if($.cookie('subject') == "理科"){
    //         km=0;
    //     }else{
    //         km=1;
    //     }
    //     score=$.cookie('score');
    //
    //     //tips提示框
    //     Mtips('.quest-s','考生在本批次可填报A、B1、B2、三所院校。根据平行志愿规则，建议合理拉开三所学校之间的梯度，按照投档风险从高到低的策略组织志愿。');
    //     Mtips('.quest-p','本批次每所志愿学校可填报最多6个专业和1个服从志愿。考生成功向学校投档后，按学校事先确定并公布的规则对进档学生进行专业录取。考生应查阅填报学校的招生简章或咨询学校招办，根据学校的专业录取规则，结合自己的实力、兴趣，合理安排专业志愿的顺序。');
    //
    //     //志愿院校信息显示
    //     $('.type-Volunteer').click(function(){
    //         type=$(this).attr('value');
    //         switch(type){
    //             case 'A':
    //                 tbtk(-1);
    //                 $('.tyMes').text('冲一冲');
    //                 break;
    //             case 'B1':
    //                 tbtk(0);
    //                 $('.tyMes').text('争一争');
    //                 break;
    //             case 'B2':
    //                 tbtk(1);
    //                 $('.tyMes').text('稳一稳');
    //                 break;
    //         }
    //
    //     });
    // });
    var cindex,indexLoad,score,type,km,pc=0,pnum,sname,zysname,typebtn,typesc,zyval,zysum,lastType,firstType,zyfirst,zylast,zyupdate=[],zyuzt=false,scval,scName,areaIndex,areaValue,data,sszt,czgn,czvalue,upvalue,downvalue,czindex,cztype,czzt;
    var reg=/^[\u4E00-\u9FA5]+$/;

    $(document).ready(function(){
        $('.s-subject').text($.cookie('subject'));
        $('.s-score').text($.cookie('score'));
        // $('.s-rank').text($.cookie('rank'));

        //tips提示框
        Mtips('.quest-s','考生在本批次可填报A、B1、B2、三所院校。根据平行志愿规则，建议合理拉开三所学校之间的梯度，按照投档风险从高到低的策略组织志愿。');
        Mtips('.quest-p','本批次每所志愿学校可填报最多6个专业和1个服从志愿。考生成功向学校投档后，按学校事先确定并公布的规则对进档学生进行专业录取。考生应查阅填报学校的招生简章或咨询学校招办，根据学校的专业录取规则，结合自己的实力、兴趣，合理安排专业志愿的顺序。');

        //志愿院校信息显示
        $('.type-Volunteer').click(function(){

            if($.cookie('subject') == "理科"){
                km=0;
            }else{
                km=1;
            }
            type=$(this).attr('value');
            score=$.cookie('score');

            switch(type){
                case 'A':
                    tbtk(-1);
                    $('.tyMes').text('冲一冲');
                    break;
                case 'B1':
                    tbtk(0);
                    $('.tyMes').text('争一争');
                    break;
                case 'B2':
                    tbtk(1);
                    $('.tyMes').text('稳一稳');
                    break;
            }

        });

        //专业信息
        $('.profession').click(function(){
            typesc=$(this).parent().parent().attr('value');

            switch(typesc){
                case 'A':
                    typebtn=$(this).attr('value');
                    zyxz(0,typesc);
                    //$('.tyMes').text('冲一冲');
                    break;
                case 'B1':
                    typebtn=$(this).attr('value');
                    zyxz(1,typesc);
                    //$('.tyMes').text('争一争');
                    break;
                case 'B2':
                    typebtn=$(this).attr('value');
                    zyxz(2,typesc);
                    //$('.tyMes').text('稳一稳');
                    break;
            }
            //console.log(typebtn+":"+typesc);
        });

        AjaxURL('<?php echo AR_SERVER_PATH; ?>Api/provinceList','',pOption,'#province',sspage);
        //搜索学校
        $('.search').click(function(){
            scName=$.trim($('#sc-name').val());
            areaIndex=$('#province option:selected').attr("value");
            areaValue=$('#province option:selected').text();
            //console.log(areaValue);
            if(scName != "" || areaIndex != 0){
                if(scName != ""){
                    if(!reg.test(scName)){
                        message('请输入正确的学校名称！');
                    }else{
                        if(areaIndex != 0){
                            data='&sname='+scName+'&area='+areaValue;
                            sszt=true;
                        }else{
                            data='&sname='+scName;
                            sszt=true;
                        }
                    }
                }else{
                    if(areaIndex != 0){
                        data='&area='+areaValue;
                        sszt=true;
                    }
                }
                //console.log(scName);
                if(sszt){
                    layer.close(cindex);
                    $('#school-inform tr td').parent().remove();
                    AjaxURL('<?php echo AR_SERVER_PATH; ?>Api/zySchoolListTqp?','score='+score+'&type='+type+'&km='+km+'&pc='+pc+'&pnum='+pnum+data,scList,'#school-inform',cpage);
                    sszt=false;
                }
            }else{
                message('院校名称和所在地区至少要输入或选择一个！');
            }
        });

        //保存志愿表单
        $('.saveForm').click(function(){
            var zyForm = [];
            if($('.type-Volunteer').prev().val() != ""){
                zyForm.splice(0,zyForm.length);
            }
            $('.zy-name').each(function(index){
                if($(this).parent().parent().parent().prev().children('input').val() != "" || $(this).val() != ""){
                    zyForm.push({
                        'sctype':$(this).parent().parent().parent().prev().children('button').attr('value'),
                        'scname':$(this).parent().parent().parent().prev().children('input').val(),
                        'zytype':$(this).next().attr('value'),
                        'zyname':$(this).val()
                    });
                    localStorage.setItem('zyForm',JSON.stringify(zyForm));
                }
            });
        });
        // $('.saveForm').click(function(){
        //     var tqpform = {};
        //     $('.xzlh-zylist').each(function(){
        //         var type = $(this).find('.type-Volunteer').attr('value'),
        //             zyarr = [],obj={};
        //             form[type] = obj;
        //         obj.schoolname = $(this).find(',bdr').val();
        //         obj.scarea = $(this).find('.schoolMes').find('.scarea').text();
        //         obj.odds = $(this).find('.schoolMes').find('.odds').text();
        //         obj.zytp = $(this).find('.diaopei').find('input[type=radio]:checked').val();
        //     });
        // });
    });

    //省option
    function pOption(data,id){
        for(var i=0;i<data.data.length;i++){
            $(id).append('<option value="'+data.data[i].region_id+'">'+data.data[i].region_name+'</option>');
        }
    }
    function sspage(){

    }

    //专业信息
    function zyxz(sum,typ){
        switch(typebtn){
            case '1':
                tbzy(sum,-1,typ);
                break;
            case '2':
                tbzy(sum,0,typ);
                break;
            case '3':
                tbzy(sum,1,typ);
                break;
            case '4':
                tbzy(sum,2,typ);
                break;
            case '5':
                tbzy(sum,3,typ);
                break;
            case '6':
                tbzy(sum,4,typ);
                break;
        }
    }

    //顺序填报-选择专业
    function tbzy(sum,num,typ){
        if($('.type-Volunteer').filter('[value='+typ+']').text() == '重新选择'){
            if(num == -1 || $('.zymk').filter('[value='+typesc+']').children('li').children('button').eq(num).text() == '修改'){
                zysname=$('.type-Volunteer').filter('[value='+typesc+']').prev().val();
                if(lastType == "" || lastType != typ){
                    $('#profession-inform tr td').parent().remove();
                    AjaxURL('<?php echo AR_SERVER_PATH; ?>Api/zhuanyeList?','sname='+zysname+'&pc='+pc+'',zyxzList,'#profession-inform',zyxzpage);
                    lastType=typ;
                }else{
                    zyxzpage();
                    //专业条目
                    $('.zysum').text(typebtn);
                    //专业选择标题栏提示信息
                    $('.tyVolunteer').text(zysname);
                }
            }else{
                CaptruePage('.typeSchool',400,0,'400px','170px','#z-order',false,'');
            }
        }else{
            CaptruePage('.typeSchool',400,0,'400px','170px','#t-order',false,'');
        }
    }

    //顺序填报--选择学校
    function tbtk(sum){
        if(sum == -1 || $('.type-Volunteer').eq(sum).text() == '重新选择'){
            if(firstType == "" || firstType != type){
                $('#school-inform tr td').parent().remove();
                AjaxURL('<?php echo AR_SERVER_PATH; ?>Api/zySchoolListTqp?','score='+score+'&type='+type+'&km='+km+'&pc='+pc+'&pnum='+pnum+'',scList,'#school-inform',cpage);
                firstType=type;
            }else{
                cpage();
                //院校类型
                $('.scsum').text(type);
                //推荐院校数目
                $('.sum-school em').text($('#school-inform tr td').parent().length);
            }
        }else{
            CaptruePage('.typeSchool',400,0,'400px','170px','#m-order',false,'');
        }
    }

    //批次名称
    switch($.cookie('valueType')){
        case 'T':
            $('.scType').text('提前批');
            pc=0;
            $.cookie('zyType','提前批');
            $.cookie('pc',pc);
            break;
    }

    function scList(data,id){
        for(var i=0;i<data.data.length;i++){
            $(id).append('<tr style="height: 55px;"><td class="tal pl10 school-name">'+data.data[i].name+'</td><td style="width: 90px;line-height: 23px;" class="tal fs12px-bzh"><div class="ml10 fcb br3"><span class="bg1-bzh fcw p25 br3">全国</span><span class="angle"></span>&nbsp;2198</div><div class="ml10 fcb br3" ><span class="bg4-bzh fcw p25 br3">理工</span><span class="angle4"></span>&nbsp;90</div></td><td>江苏</td><td><a class="sc-detail"><i class="fa fa-bar-chart"></i></a></td><td><div style="width: 80px;" class="applyChance auto pt10 pb10 clearfix"></div></td><td><button class="btn btn-info btn-sm pl10 pr10 choice-school">选为<span class="scsum"></span>志愿</button><span class="scupdate clear"><i class="fa fa-check-circle mr5"></i>已选为<span class="scid"></span>志愿</sapn></td></tr>');
            scchoice();
        }

        //学校数目
        $('.sum-school em').text(data.total_lines);
        if(data.total_lines == 0){
            //console.log($('.sum-school em').text()+"sd");
            $('.none-mes').removeClass('clear');
        }else{
            $('.none-mes').addClass('clear');
        }

        //table表格样式
        $(".table-w tr:eq(0)").siblings(":odd").addClass("bge-bzh");
        //院校选择标题栏提示信息
        $('.tyVolunteer').text(type);
        //院校选择标题栏提示信息
        $('.name-zy').text(type);
        //志愿类型
        $('.scsum').text(type);

        //添加学校信息
        $('.choice-school').click(function(){
            sname=$(this).parent().parent().children('.school-name').text();
            if($('.type-Volunteer').filter('[value='+type+']').text() == '重新选择'){
                scval=$('.type-Volunteer').filter('[value='+type+']').prev().val();
                //console.log(scval+":scval:"+sname);
                if(scval != sname){
                    //console.log(scval+":scval:"+sname);
                    $('.zymk').filter('[value='+type+']').children('li').children('input').each(function(index){
                        $(this).val('');
                        $('.zymk').filter('[value='+typesc+']').children('li').children('button').eq(index).text('选择');
                        lastType='';
                    });
                }
            }
            $('.type-Volunteer').filter('[value='+type+']').prev().val(sname);
            $('.type-Volunteer').filter('[value='+type+']').text('重新选择');
            $('.schoolMes').next('[value='+type+']').hide();
            $('.type-Volunteer').next('[value='+type+']').children().remove();
            $('.type-Volunteer').next('[value='+type+']').append('<ul class="left tal jgz"><li class="mt10">学校名称：<span class="c-name fwb">'+sname+'</sapn></li><li class="mt10">学校特色：<span>财经类</span></li><li class="mt10">2014年投档分：<span>571</span></li><li class="xbj clearfix mt10">历年录取：<span><a href=""><i class="fa fa-bar-chart"></i></a></sapn></li><li class="mt10"><span class="db left">投档概率：</span><span class="vab-bzh db left clearfix"><div style="width: 80px;" class="applyChance auto clearfix"></div></span><span class="db left">(有较小希望冲一冲)</span></li></ul>');

            layer.close(cindex);
        });

        //历年录取-->学校信息
        $('.sc-detail').click(function(){
            //layer.close(cindex);
            CaptruePage('.typeSchool',400,0,'400px','170px','#ln-detail',false,'');
        });
    }

    function cpage(){
        scchoice();
        CaptruePage('.type-Volunteer',15,0,'50%','100%','#zytb',false,'');
    }

    //已选学校
    function scchoice(){
        $('.choice-school').removeClass('clear');
        $('.scupdate').addClass('clear');
        if($('.type-Volunteer').filter('[value='+type+']').prev().val() != ''){
            $('.school-name').each(function(pindex){
                if($('.type-Volunteer').filter('[value='+type+']').prev().val() == $('.school-name').eq(pindex).text()){
                    $('.choice-school').eq(pindex).addClass('clear');
                    $('.scupdate').eq(pindex).removeClass('clear');
                    czreset($('.zymk').filter('[value='+type+']').children('li').children('.czan').children('i'));
                    $('.scid').eq(pindex).text(type);
                }
            });
        }
    }

    //专业选择
    function zyxzList(data,id){
        if($('#profession-inform tr td').parent().length == 0){
            for(var i=0;i<data.data.length;i++){
                $(id).append('<tr style="height: 55px;"><td style="width: 50%;" class="tal pl10 profession-name">'+data.data[i].zyname+'</td><td style="width: 25%;" class="tac fs12px-bzh"><span>工科</span></td><td class="tac"><button class="btn btn-info btn-sm pl10 pr10 choice-profession">选为专业<span class="zysum"></span></button><span class="zyupdate clear"><i class="fa fa-check-circle mr5"></i>已选为专业<span class="zyid"></span></span></td></tr>');
                zychoice();
            }
        }

        //table表格样式
        $("#profession-inform tr:even td").parent().addClass("bge-bzh");

        //专业选择标题栏提示信息
        $('.tyVolunteer').text(zysname);
        //专业条目
        $('.zysum').text(typebtn);

        //添加专业信息
        $('.choice-profession').click(function(){
            //console.log($(this).text());
            zyval=$(this).parent().parent().children('.profession-name').text();

            addcz();
            //$('.zymk').filter('[value='+typesc+']').children('li').children('button').filter('[value='+typebtn+']').text('修改');
            $('.zymk').filter('[value='+typesc+']').children('li').children('button').filter('[value='+typebtn+']').prev().val(zyval);
            //$('.zymk').filter('[value='+typesc+']').children('li').children('button').filter('[value='+typebtn+']').prev().css({width:'100px'});
            layer.close(cindex);
        });
    }

    //专业抓取page
    function zyxzpage(){
        zychoice();
        CaptruePage('.type-Volunteer',15,0,'50%','100%','#zyxz',false,'');
    }

    //已选专业
    function zychoice(){
        $('.choice-profession').removeClass('clear');
        $('.zyupdate').addClass('clear');
        $('.zymk').filter('[value='+typesc+']').children('li').children('input').each(function(index){
            if($(this).val() != ''){
                //console.log($(this).val()+':'+index);
                $('.profession-name').each(function(pindex){
                    if($('.zymk').filter('[value='+typesc+']').children('li').children('input').eq(index).val() == $('.profession-name').eq(pindex).text()){

                        $('.choice-profession').eq(pindex).addClass('clear');
                        $('.zyupdate').eq(pindex).removeClass('clear');
                        $('.zyid').eq(pindex).text($('.zymk').filter('[value='+typesc+']').children('li').children('button').eq(index).attr('value'));
                    }
                });
            }
        });
    }

    //添加操作按钮
    function addcz(){
        if($('.zymk').filter('[value='+typesc+']').children('li').children('button').filter('[value='+typebtn+']').text() == "选择"){
            czset($('.zymk').filter('[value='+typesc+']').children('li').children('button').filter('[value='+typebtn+']').parent(),typesc,typebtn);
        }
    }

    //挂接设置、重置事件
    function czxs(id,value,sid,tysc,tybtn){
        if(value == ""){
            czreset(id);
            czset(sid,tysc,tybtn);
        }
    }

    //重置操作按钮
    function czreset(id){
        id.parent().prev().prev().val('');
        id.parent().prev().prev().css({width:'185px'});
        id.parent().prev().text('选择');
        id.parent().remove();
    }

    //设置操作按钮
    function czset(id,tysc,tybtn){
        if(tybtn <= 1){
            czgn='<div class="czan"><i class="fa fa-times-circle mr5 czdel" title="删除"></i><i class="fa fa-arrow-circle-down czdown" title="下移"></i></div>';
        }else if(tybtn <= 5){
            czgn='<div class="czan"><i class="fa fa-times-circle mr5 czdel" title="删除"></i><i class="fa fa-arrow-circle-up mr5 czup" title="上移"></i><i class="fa fa-arrow-circle-down czdown" title="下移"></i></div>';
        }else{
            czgn='<div class="czan"><i class="fa fa-times-circle mr5 czdel" title="删除"></i><i class="fa fa-arrow-circle-up mr5 czup" title="上移"></i></div>';
        }

        id.append(czgn);
        id.children('input').css({width:'100px'});
        id.children('button').text('修改');
        czbind(tysc,tybtn);
    }

    //鼠标移动、移出、点击-->删除、上移、下移
    function czbind(tysc,tybtn){
        $('.zymk').filter('[value='+tysc+']').children('li').children('button').filter('[value='+tybtn+']').next().children().bind({
            mouseover:function(){
                $(this).css({color:'#3CB38D'});
            },
            mouseout:function(){
                $(this).css({color:'#888888'});
            },
            click:function(){
                //console.log($(this).attr('title'));
                switch($(this).attr('title')){
                    case '删除':
                        czreset($(this));
                        break;
                    case '上移':
                        czvalue=$(this).parent().prev().prev().val();
                        upvalue=$(this).parent().parent().prev().children('input').val();
                        $(this).parent().prev().prev().val(upvalue);
                        $(this).parent().parent().prev().children('input').val(czvalue);
                        czxs($(this),$(this).parent().prev().prev().val(),$(this).parent().parent().prev(),tysc,(parseInt(tybtn)-1));
                        break;
                    case '下移':
                        czvalue=$(this).parent().prev().prev().val();
                        downvalue=$(this).parent().parent().next().children('input').val();
                        $(this).parent().prev().prev().val(downvalue);
                        $(this).parent().parent().next().children('input').val(czvalue);
                        czxs($(this),$(this).parent().prev().prev().val(),$(this).parent().parent().next(),tysc,(parseInt(tybtn)+1));
                        break;
                }
            }
        });
    }
</script>
