<!-- 选择院校专业 -->
<div class="system-title pl20 pt10 pb10 clearfix">
    <h2 class="left"><i class="fa fa-gear"></i>&nbsp;四川高考志愿智能填报系统</h2>
    <ul class="hmenu right">
        <li>输入真实高考成绩</li>
        <li>选择填报批次</li>
        <li>选择院校专业</li>
        <!-- <li class="selected">志愿表验证</li> -->
        <li>生成模拟志愿表</li>
    </ul>
</div>
<hr>
<h4 class="tac fwb fc8-bzh mt20 mb20">我的志愿单--（<span class="scType"></span>）</h4>
<div class="bge-bzh pp10-bzh ml20 mr20 mb10">
    <span class="fwb mr20">本志愿表单使用成绩</span>科类：<span class="fc6-bzh mr20 s-subject"></span>总分：<span class="fc6-bzh mr20 s-score"></span>位次：<span class="fc6-bzh s-rank"></span>
</div>
<table style="width: 695px;" class="tac table-bordered auto fs14px-bzh">
    <tr class="fwb">
        <th style="width: 50px;"></th>
        <th style="width: 270px;">学校<i class="fa fa-question-circle quest ml10 mr10 quest-s"></i><span class="mfc">志愿知识</span></th>
        <th style="width: 270px;">专业<i class="fa fa-question-circle quest ml10 mr10 quest-p"></i><span class="mfc">志愿知识</span></th>
        <th style="width: 80px;">是否服从<br>专业调配</th>
    </tr>
    <tr><!-- A志愿 -->
        <td>A<br>志<br>愿</td>
        <td class="item-bzh pt10 vat-bzh">
            <span class="schoolMes" value="A" >
                <ul class="left tal jgz clear">
                    <li class="">学校名称：<span class="c-name fwb" value="A"></sapn></li>
                    <li class="mt10">学校所在地：<span class="scarea"></span></li>
                    <!-- <li class="mt10">2015年投档分：<span class="lqf15"></span></li> -->
                    <li class="xbj clearfix mt10">历年录取：<span><a class="sc-detail"><i class="fa fa-bar-chart"></i></a></sapn></li>
                    <!-- <li class="mt10">
                        <span class="db left">投档概率：</span>
                        <span class="db left glts"></span>
                    </li> -->
                </ul>
                <div class="verification">
                    <div class="verifica-bar"></div>
                </div>
                <div class="verifica-mes tac">录取概率：&nbsp;&nbsp;<span class="verifica-sum"></span></div>
            </span>
        </td>
        <td class="item-bzh">
            <ul class="zymk" value="A">
                <li class="mt10">
                    <span class="left"><span class="fwb fc8-bzh ml10">1.</span><span class="ml10" value="1"></span></span>
                </li>
                <li class="mt10 clearfloat">
                    <span class="left"><span class="fwb fc8-bzh ml10">2.</span><span class="ml10" value="2"></span></span>
                </li>
                <li class="mt10 clearfloat">
                    <span class="left"><span class="fwb fc8-bzh ml10">3.</span><span class="ml10" value="3"></span></span>
                </li>
                <li class="mt10 clearfloat">
                    <span class="left"><span class="fwb fc8-bzh ml10">4.</span><span class="ml10" value="4"></span></span>
                </li>
                <li class="mt10 clearfloat">
                    <span class="left"><span class="fwb fc8-bzh ml10">5.</span><span class="ml10" value="5"></span></span>
                </li>
                <li class="mt10 mb10 clearfloat">
                    <span class="left"><span class="fwb fc8-bzh ml10">6.</span><span class="ml10" value="6"></span></span>
                </li>
            </ul>
        </td>
        <td>
            <span></span>
        </td>
    </tr>
    <tr><!-- B志愿 -->
        <td>B<br>志<br>愿</td>
        <td class="item-bzh pt10 vat-bzh">
            <span class="schoolMes" value="B">
                <ul class="left tal jgz clear">
                    <li class="">学校名称：<span class="c-name fwb" value="B"></sapn></li>
                    <li class="mt10">学校所在地：<span class="scarea"></span></li>
                    <!-- <li class="mt10">2015年投档分：<span class="lqf15"></span></li> -->
                    <li class="xbj clearfix mt10">历年录取：<span><a class="sc-detail"><i class="fa fa-bar-chart"></i></a></sapn></li>
<!--                     <li class="mt10">
                        <span class="db left">投档概率：</span>
                        <span class="db left glts"></span>
                    </li> -->
                </ul>
                <div class="verification">
                    <div class="verifica-bar"></div>
                </div>
                <div class="verifica-mes tac">录取概率：&nbsp;&nbsp;<span class="verifica-sum"></span></div>
            </span>
        </td>
        <td class="item-bzh">
            <ul class="zymk" value="B">
                <li class="mt10">
                    <span class="left"><span class="fwb fc8-bzh ml10">1.</span><span class="ml10" value="1"></span></span>
                </li>
                <li class="mt10 clearfloat">
                    <span class="left"><span class="fwb fc8-bzh ml10">2.</span><span class="ml10" value="2"></span></span>
                </li>
                <li class="mt10 clearfloat">
                    <span class="left"><span class="fwb fc8-bzh ml10">3.</span><span class="ml10" value="3"></span></span>
                </li>
                <li class="mt10 clearfloat">
                    <span class="left"><span class="fwb fc8-bzh ml10">4.</span><span class="ml10" value="4"></span></span>
                </li>
                <li class="mt10 clearfloat">
                    <span class="left"><span class="fwb fc8-bzh ml10">5.</span><span class="ml10" value="5"></span></span>
                </li>
                <li class="mt10 mb10 clearfloat">
                    <span class="left"><span class="fwb fc8-bzh ml10">6.</span><span class="ml10" value="6"></span></span>
                </li>
            </ul>
        </td>
        <td>
            <span></span>
    </tr>
    <tr><!-- C志愿 -->
        <td>C<br>志<br>愿</td>
        <td class="item-bzh pt10 vat-bzh">
            <span class="schoolMes" value="C">
                <ul class="left tal jgz clear">
                    <li class="">学校名称：<span class="c-name fwb" value="C"></sapn></li>
                    <li class="mt10">学校所在地：<span class="scarea"></span></li>
                    <!-- <li class="mt10">2015年投档分：<span class="lqf15"></span></li> -->
                    <li class="xbj clearfix mt10">历年录取：<span><a class="sc-detail"><i class="fa fa-bar-chart"></i></a></sapn></li>
                    <!-- <li class="mt10">
                        <span class="db left">投档概率：</span>
                        <span class="db left glts"></span>
                    </li> -->
                </ul>
                <div class="verification">
                    <div class="verifica-bar"></div>
                </div>
                <div class="verifica-mes tac">录取概率：&nbsp;&nbsp;<span class="verifica-sum"></span></div>
            </span>
        </td>
        <td class="item-bzh">
            <ul class="zymk" value="C">
                <li class="mt10">
                    <span class="left"><span class="fwb fc8-bzh ml10">1.</span><span class="ml10" value="1"></span></span>
                </li>
                <li class="mt10 clearfloat">
                    <span class="left"><span class="fwb fc8-bzh ml10">2.</span><span class="ml10" value="2"></span></span>
                </li>
                <li class="mt10 clearfloat">
                    <span class="left"><span class="fwb fc8-bzh ml10">3.</span><span class="ml10" value="3"></span></span>
                </li>
                <li class="mt10 clearfloat">
                    <span class="left"><span class="fwb fc8-bzh ml10">4.</span><span class="ml10" value="4"></span></span>
                </li>
                <li class="mt10 clearfloat">
                    <span class="left"><span class="fwb fc8-bzh ml10">5.</span><span class="ml10" value="5"></span></span>
                </li>
                <li class="mt10 mb10 clearfloat">
                    <span class="left"><span class="fwb fc8-bzh ml10">6.</span><span class="ml10" value="6"></span></span>
                </li>
            </ul>
        </td>
        <td>
            <span></span>
        </td>
    </tr>
    <tr><!-- D志愿 -->
        <td>D<br>志<br>愿</td>
        <td class="item-bzh pt10 vat-bzh">
            <span class="schoolMes" value="D">
                <ul class="left tal jgz clear">
                    <li class="">学校名称：<span class="c-name fwb" value="D"></sapn></li>
                    <li class="mt10">学校所在地：<span class="scarea"></span></li>
                    <!-- <li class="mt10">2015年投档分：<span class="lqf15"></span></li> -->
                    <li class="xbj clearfix mt10">历年录取：<span><a class="sc-detail"><i class="fa fa-bar-chart"></i></a></sapn></li>
                    <!-- <li class="mt10">
                        <span class="db left">投档概率：</span>
                        <span class="db left glts"></span>
                    </li> -->
                </ul>
                <div class="verification">
                    <div class="verifica-bar"></div>
                </div>
                <div class="verifica-mes tac">录取概率：&nbsp;&nbsp;<span class="verifica-sum"></span></div>
            </span>
        </td>
        <td class="item-bzh">
            <ul class="zymk" value="D">
                <li class="mt10">
                    <span class="left"><span class="fwb fc8-bzh ml10">1.</span><span class="ml10" value="1"></span></span>
                </li>
                <li class="mt10 clearfloat">
                    <span class="left"><span class="fwb fc8-bzh ml10">2.</span><span class="ml10" value="2"></span></span>
                </li>
                <li class="mt10 clearfloat">
                    <span class="left"><span class="fwb fc8-bzh ml10">3.</span><span class="ml10" value="3"></span></span>
                </li>
                <li class="mt10 clearfloat">
                    <span class="left"><span class="fwb fc8-bzh ml10">4.</span><span class="ml10" value="4"></span></span>
                </li>
                <li class="mt10 clearfloat">
                    <span class="left"><span class="fwb fc8-bzh ml10">5.</span><span class="ml10" value="5"></span></span>
                </li>
                <li class="mt10 mb10 clearfloat">
                    <span class="left"><span class="fwb fc8-bzh ml10">6.</span><span class="ml10" value="6"></span></span>
                </li>
            </ul>
        </td>
        <td>
            <span></span>
        </td>
    </tr>
    <tr><!-- E志愿 -->
        <td>E<br>志<br>愿</td>
        <td class="item-bzh pt10 vat-bzh">
            <span class="schoolMes" value="E">
                <ul class="left tal jgz clear">
                    <li class="">学校名称：<span class="c-name fwb" value="E"></sapn></li>
                    <li class="mt10">学校所在地：<span class="scarea"></span></li>
                    <!-- <li class="mt10">2015年投档分：<span class="lqf15"></span></li> -->
                    <li class="xbj clearfix mt10">历年录取：<span><a class="sc-detail"><i class="fa fa-bar-chart"></i></a></sapn></li>
                    <!-- <li class="mt10">
                        <span class="db left">投档概率：</span>
                        <span class="db left glts"></span>
                    </li> -->
                </ul>
                <div class="verification">
                    <div class="verifica-bar"></div>
                </div>
                <div class="verifica-mes tac">录取概率：&nbsp;&nbsp;<span class="verifica-sum"></span></div>
            </span>
        </td>
        <td class="item-bzh">
            <ul class="zymk" value="E">
                <li class="mt10">
                    <span class="left"><span class="fwb fc8-bzh ml10">1.</span><span class="ml10" value="1"></span></span>
                </li>
                <li class="mt10 clearfloat">
                    <span class="left"><span class="fwb fc8-bzh ml10">2.</span><span class="ml10" value="2"></span></span>
                </li>
                <li class="mt10 clearfloat">
                    <span class="left"><span class="fwb fc8-bzh ml10">3.</span><span class="ml10" value="3"></span></span>
                </li>
                <li class="mt10 clearfloat">
                    <span class="left"><span class="fwb fc8-bzh ml10">4.</span><span class="ml10" value="4"></span></span>
                </li>
                <li class="mt10 clearfloat">
                    <span class="left"><span class="fwb fc8-bzh ml10">5.</span><span class="ml10" value="5"></span></span>
                </li>
                <li class="mt10 mb10 clearfloat">
                    <span class="left"><span class="fwb fc8-bzh ml10">6.</span><span class="ml10" value="6"></span></span>
                </li>
            </ul>
        </td>
        <td>
            <span></span>
        </td>
    </tr>
    <tr><!-- F志愿 -->
        <td>F<br>志<br>愿</td>
        <td class="item-bzh pt10 vat-bzh">
            <span class="schoolMes" value="F">
                <ul class="left tal jgz clear">
                    <li class="">学校名称：<span class="c-name fwb" value="F"></sapn></li>
                    <li class="mt10">学校所在地：<span class="scarea"></span></li>
                    <!-- <li class="mt10">2015年投档分：<span class="lqf15"></span></li> -->
                    <li class="xbj clearfix mt10">历年录取：<span><a class="sc-detail"><i class="fa fa-bar-chart"></i></a></sapn></li>
                    <!-- <li class="mt10">
                        <span class="db left">投档概率：</span>
                        <span class="db left glts"></span>
                    </li> -->
                </ul>
                <div class="verification">
                    <div class="verifica-bar"></div>
                </div>
                <div class="verifica-mes tac">录取概率：&nbsp;&nbsp;<span class="verifica-sum"></span></div>
            </span>
        </td>
        <td class="item-bzh">
            <ul class="zymk" value="F">
                <li class="mt10">
                    <span class="left"><span class="fwb fc8-bzh ml10">1.</span><span class="ml10" value="1"></span></span>
                </li>
                <li class="mt10 clearfloat">
                    <span class="left"><span class="fwb fc8-bzh ml10">2.</span><span class="ml10" value="2"></span></span>
                </li>
                <li class="mt10 clearfloat">
                    <span class="left"><span class="fwb fc8-bzh ml10">3.</span><span class="ml10" value="3"></span></span>
                </li>
                <li class="mt10 clearfloat">
                    <span class="left"><span class="fwb fc8-bzh ml10">4.</span><span class="ml10" value="4"></span></span>
                </li>
                <li class="mt10 clearfloat">
                    <span class="left"><span class="fwb fc8-bzh ml10">5.</span><span class="ml10" value="5"></span></span>
                </li>
                <li class="mt10 mb10 clearfloat">
                    <span class="left"><span class="fwb fc8-bzh ml10">6.</span><span class="ml10" value="6"></span></span>
                </li>
            </ul>
        </td>
        <td>
            <span></span>
        </td>
    </tr>
</table>
<div class="iback mt20 mb20 ml20 tac">
    <a href="<?php echo arU('User/simulationSystemTwoSchool'); ?>" class="zydUpdate">修改</a>
    <a href="<?php echo arU('User/simulationSystemTwoSaveForm'); ?>" class="zydel ml20 mr20">保存</a>
</div>

<script type="text/javascript">
    var zyForm,zyFormName,score,subject,rank,pc,sname,percent,star,tcolor,tin=0,vin=true,maxscore,minscore;
    var zyFormA,zyFormB,zyFormC;
    var szname=[],szindex=[{}];
    $(document).ready(function(){
        $('.s-subject').text($.cookie('subject'));
        $('.s-score').text($.cookie('score'));
        $('.s-rank').text($.cookie('rank'));
        $('.scType').text($.cookie('zyType'));

        //tips提示框
        Mtips('.quest-s','考生在本批次可填报A、B、C、D、E、F六所院校。根据平行志愿规则，建议合理拉开六所学校之间的梯度，按照投档风险从高到低的策略组织志愿。');
        Mtips('.quest-p','本批次每所志愿学校可填报最多6个专业和1个服从志愿。考生成功向学校投档后，按学校事先确定并公布的规则对进档学生进行专业录取。考生应查阅填报学校的招生简章或咨询学校招办，根据学校的专业录取规则，结合自己的实力、兴趣，合理安排专业志愿的顺序。');

        // zyForm=JSON.parse($.cookie('zyForm'));
        if($.cookie('zyFormName') != null){
            zyFormName=JSON.parse($.cookie('zyFormName'));
            for(var j=0;j<zyFormName.length;j++){
                $('.schoolMes').filter('[value='+zyFormName[j].sctype+']').children().removeClass('clear');
                $('.c-name').filter('[value='+zyFormName[j].sctype+']').text(zyFormName[j].scname);
                $('.c-name').filter('[value='+zyFormName[j].sctype+']').parent().next().find('.scarea').text(zyFormName[j].scarea);
                $('.zymk').filter('[value='+zyFormName[j].sctype+']').parent().next().children().text(zyFormName[j].zyobey);
            }
        }
        if($.cookie('zyFormA') != null){
            zyFormA=JSON.parse($.cookie('zyFormA'));
            for(var i=0;i<zyFormA.length;i++){
                $('.zymk').filter('[value='+zyFormA[i].zytype+']').children().children().children().next().filter('[value='+zyFormA[i].zyvalue+']').text(zyFormA[i].zyname);
            }
        }
        if($.cookie('zyFormB') != null){
            zyFormB=JSON.parse($.cookie('zyFormB'));
            for(var i=0;i<zyFormB.length;i++){
                $('.zymk').filter('[value='+zyFormB[i].zytype+']').children().children().children().next().filter('[value='+zyFormB[i].zyvalue+']').text(zyFormB[i].zyname);
            }
        }
        if($.cookie('zyFormC') != null){
            zyFormC=JSON.parse($.cookie('zyFormC'));
            for(var i=0;i<zyFormC.length;i++){
                $('.zymk').filter('[value='+zyFormC[i].zytype+']').children().children().children().next().filter('[value='+zyFormC[i].zyvalue+']').text(zyFormC[i].zyname);
            }
        }

        $('.zydUpdate').click(function(){
            $.cookie('zydUpdate',0,{expires:date,path:paths});
        });

        szname.splice(0,szname.length);
        szindex.splice(0,szindex.length);
        score=$.cookie('score');
        subject=$.cookie('km');
        pc=$.cookie('pc');

        //历年录取-->学校信息
        $('.sc-detail').click(function(){
            sname=$(this).parent().parent().prev().prev().find('.c-name').text();
            if($.cookie('ifVip')){
                window.location.href='<?php echo arU("Index/schoolSelectInfo?km='+subject+'&pc='+pc+'&name='+sname+'"); ?>'
            }else{
                CaptruePage('.typeSchool',400,0,'400px','170px','#ln-detail',false,'');
            }
        });

        $('.c-name').each(function(){
            if($(this).text() != ""){
                szname.push($(this).text());
            }
        });

        for(var i=0;i<szname.length;i++){
            AjaxURL('<?php echo AR_SERVER_PATH; ?>Api/admissionOdds?','sname='+szname[i]+'&pc='+pc+'&km='+subject+'&score='+score,gloption,'.verifica-bar',glpage);
        }

        maxscore=$('.c-name').filter('[value=A]').parent().next().next().find('.lqf15').text();
        minscore=$('.c-name').filter('[value=F]').parent().next().next().find('.lqf15').text();

        if((maxscore - minscore) < 40){
            message('考生需要进一步拉开学校梯度，以防滑档!');
        }
    });

    function gloption(data,id){
        percent=data.data.percent;
        star=data.data.star;
        szindex.push({
            'per':percent,
            'str':star
        });
        //console.log(data.data.percent+":"+data.data.star);
        for(var i=0;i<25;i++){
            $(id).eq(tin).append('<div class="xht"></div>');
            $('.verifica-bar').eq(tin).attr('title',szindex[tin].per+'%');
            $('.verifica-sum').eq(tin).text(szindex[tin].per+'%');
            // if(szindex[tin].per >= 50){
            //     $('.glts').eq(tin).text('(有较大希望)');
            // }else{
            //     $('.glts').eq(tin).text('(有较小希望)');
            // }
            if(i < szindex[tin].str){
                tcolor='#32CD32';
            }else{
                tcolor='#dddddd';
            }
            $(id).eq(tin).children().eq(i).css({width:3,height:i+10,marginTop:(40-(i+10)),backgroundColor:tcolor});
            if(tin < szindex.length && i >= 24){
                tin++;
            }
        }
    }
    function glpage(){
    }
</script>