<!-- 网站管理 -->
<style type="text/css">
	.main .btn{width:200px;height:30px;background-color:#4fa9e5;border:0;color:#fff;font-size:16px;}
</style>
	<div class="main">
		<div class="r right">
		<div class="tab">
		<ul>
			<li class="frist"><a href="">商会介绍</a></li>
			<li><a href="">组织结构</a></li>
			<li><a href="">机遇</a></li>
			<li><a href="">投资</a></li>
		</ul>
		</div>
		<form method="post" action="<?php echo arU('');?>">

			<p>商会名称：<input type="text" name="cname" class=""/></p>
			<p>二级域名：<input type="text" name="dns" class=""/></p>
			<p>商会简介：</p>
				   <script id="baidu_editor"></script>
			<br style="clear:both;"/>
			<input type="button" value="确定" onclick="" class="btn"/>
		</div>
		</form>
	</div>

</div>