<div class="mainIndex ml20 clearfix">
	<div class="mainHeader">
		<div class="profession-title">
			<h2 class="left">院校对比</h2>
			<div class="line right mt10"></div>
		</div>
	</div>
	<div class="school-detail mt50 clearfix">
        <!-- 学校信息模板 -->
		<div class="box-mb">
        </div>
        <!-- 添加学校信息模板 -->
        <div class="detail-add left mb20 yb-select yb-input-submit">
            <!-- <form action="" class="add" name="add" id="add" method="post" onsubmit="return mnonempty();"> -->
                <ul>
                    <li class="tac btitle">
                        <p class="box-title">添加院校</p>
                    </li>
                    <li>
                        <div class="score tac mt20">
                            <label class="mr20">科类：</label>
                            <span class="km"><input type="radio"  name="class" id="" value="文科" checked>&nbsp;文科</span>&nbsp;&nbsp;&nbsp;
                            <span class="km"><input type="radio"  name="class" id="" value="理科">&nbsp;理科</span>
                        </div>
                    </li>
                    <li>
                        <div class="score mt5 mb5 tac school-pc">
                            <?php
                                // 调用用html seg 直接输出 select标签
                                arSeg(
                                    array(
                                        // seg文件
                                        'segKey' => 'Html/select',
                                        // <select name="name">
                                        'name' => 'type',
                                        // 适配器数据 数组
                                        'map' => DataYxModel::$pcMap,
                                        // 选中的value selected = selected
                                        'selected' => 1
                                    )
                                );
                            ?>
                        </div>
                    </li>
                    <li>
                        <div class="score tac mt5 mb5">
                            <select id="school-area" class="yb-select">
                                <option selected="selected" value="0">院校所在地</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <div class="score tac mt5 mb5">
                            <select id="school-name" class="yb-select">
                                <option selected="selected" value="0">院校名称</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <div class="score tac mt20 mb20">
                            <div class="tac">
                                <input type="submit" name="add-btn" class="add-btn" value="添加"/>
                            </div>
                        </div>
                    </li>
                </ul>
            <!-- </form>     -->
        </div>
	</div>
	<div class="content-chart">
		<!-- <div class="mess-header">
            <h4 class="tac">普通用户提供投档分对比，现在立即<a href="">购买</a>、<a href="">激活循证志愿卡</a>，查看更多数据对比！</h4>
        </div> -->
		<div id="score-chart" class="score-chart mt20">

		</div>
        <div class="chart-mes tac pb40">院校信息对比图表，要求：最少两所学校，最多三所学校！</div>
	</div>
</div>
<script type="text/javascript">
    var del=false,add=false,index,m=0,myChart,option,sArea,sPc,sPcName,sType,sName,sKm;
    var year=['2015年','2014年','2013年'];
    var mes=[{}];

    var stryx = $.cookie('roeyxdb'); //取出对比数据cookie

	$(document).ready(function(){
        mes.splice(0,1);

        (function(){
            if(stryx){
                stryx = $.cookie('roeyxdb').split(',');
                var arry =[];
                for(var i=0; i<stryx.length;){
                    arry.push([stryx[i],stryx[i+1],stryx[i+2],stryx[i+3]]);
                    i+=4;
                }
                function skm(dat){
                    if(dat == '理科'){return 0;}
                    if(dat == '文科'){return 1;}
                    if(dat == '提前批'){return 0;}
                    if(dat == '本一'){return 1;}
                    if(dat == '本二'){return 2;}
                    if(dat == '专一'){return 3;}
                    if(dat == '专二'){return 4;}
                }

                for(var k=0;k<arry.length;k++){
                    zdSearch(arry[k][0],arry[k][3],arry[k][1],arry[k][2]);
                    add=true;
                }

                function zdSearch(){
                    var sName1 = arguments[0],sArea1=arguments[1],sKm1=arguments[2],sPcName1=arguments[3];
                    AjaxURL('<?php echo AR_SERVER_PATH; ?>Api/yxzs?','sname='+arguments[0]+'&km='+skm(arguments[2])+'&pc='+skm(arguments[3]),scmoption1,'#school-name',spage);
                    function scmoption1(data,id){
                        prebox(sName1,sArea1,sKm1,sPcName1,data);
                    }
                }
            }
        })();

        //获取地区
        AjaxURL('<?php echo AR_SERVER_PATH; ?>Api/provinceList','',pOption,'#school-area',spage);
        //获取学校名称
        $('#school-area,.km input[type=radio],.school-pc select').change(function(){
            $('#school-name option[value != 0]').remove();
            if($('#school-area option:selected').attr('value') != 0){
                Parameter();
                //获取学校
                AjaxURL('<?php echo AR_SERVER_PATH; ?>Api/areaSchools?','area='+sArea+'&km='+sType+'&pc='+sPc,snameOption,'#school-name',spage);
            }

        });

        //判断是否选择重复学校
        $('#school-name').change(function(){
            for(var i=0;i<mes.length;i++){
                if(($('#school-name option:selected').text()) == mes[i].sname){
                    message('不能选择同样的学校！');
                    $('#school-name')[0].selectedIndex=0;
                }
            }
        });

        $('.add-btn').click(function(){
            if(mnonempty()){
                if($('.box-mb').children().length >= 2){
                    $('.detail-add').hide();
                }

                Parameter();
                //获取信息
                AjaxURL('<?php echo AR_SERVER_PATH; ?>Api/yxzs?','sname='+sName+'&km='+sType+'&pc='+sPc,scmoption,'#school-name',spage);
                add=true;

                $('.km input[type=radio][name=class]').get(0).checked=true;
                $('.km input[type=radio][name=class]').get(1).checked=false;
                // $('#wk').attr('checked',true);
                // $('#lk').attr('checked',false);
                $('.school-pc select')[0].selectedIndex=1;
                $('#school-area')[0].selectedIndex=0;
                $('#school-name')[0].selectedIndex=0;
                $('#school-name option[value != 0]').remove();
            }
        });

		//专业信息对比图表
		//路径配置
        require.config({
            paths:{
                echarts:"<?php echo arCfg('PATH.GPUBLIC'); ?>js/echarts-2.2.6/build/dist"
            }
        });
        //调用，加载K模块
        require(
            [
            'echarts',
            'echarts/chart/line',
            'echarts/chart/bar'
            ],
            function(ec){
                option = {
                    title : {
                        text: '院校信息对比表',
                        // subtext: '院校对比',
                        x: 'left',
                        y:'top',
                        textStyle: {

                        }
                    },
                    tooltip : {
                        trigger: 'axis'
                    },
                    legend: {
                        data:[],
                        x: 'center',
                        y: 'bottom'
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            mark : {show: true},
                            dataView : {show: false},
                            dataZoom : {show : true},
                            magicType : {show: true, type: ['line', 'bar']},
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    //关闭拖拽
                    // calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            boundaryGap : true,
                            //boundaryGap:[0.5,0.5],
                            data : year
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value',
                            name: '录取分数',
                            axisLabel : {
                                formatter: '{value} 分'
                            },
                            scale:true,
                            //boundaryGap:true,
                            boundaryGap:[0.01,0.01]
                        }
                    ],
                    series : []
                };

                //为echarts对象加载数据
                myChart=ec.init(document.getElementById("score-chart"));
                // myChart.setOption(option);

            }
        );
	});

    //图表指定线
    clearInterval(timeTicket);
        var timeTicket = setInterval(function(){
            if($('.box-mb').children().length < 3){
                $('.detail-add').show();
            }
            //删除
            if(del){
                option.legend.data.splice(index,1);
                option.series.splice(index,1);
                mes.splice(index,1);
                myChart.clear();
                myChart.setOption(option,true);
                del=false;
                //console.log(mes);
            }
            //增加
            if(add){
                option.legend.data.splice(0,option.legend.data.length);
                option.series.splice(0,option.series.length);
                for(var i=0;i<mes.length;i++){
                    option.legend.data.push({
                        'name' : mes[i].sname
                    });
                    option.series.push(
                    {
                        'name':mes[i].sname,
                        'type':'line',
                        'color': '#ff7f50',
                        'data':mes[i].lqf,
                        'markPoint':{
                            'data' : [
                                {
                                    'type' : 'max',
                                    'name' : '最大录取分数'
                                },
                                {
                                    'type' : 'min',
                                    'name' : '最小录取分数'
                                }
                            ]
                        },
                        'markLine' : {
                            'data' : [
                                {
                                    'type' : 'average',
                                    'name' : '平均录取分数'
                                }
                            ]
                        }
                    });
                }

                myChart.setOption(option,true);
                add=false;
            }
            //图表不显示提示信息
            if($('.box-mb').children().length >= 2){
                $('.score-chart').show();
                $('.chart-mes').hide();
            } else{
                $('.score-chart').hide();
                $('.chart-mes').show();
            }
    },1000);

    //删除按钮
    function btndel(id){
        index=$(id).parent().index();
        del=true;
        $(id).parent().remove();
    }

    //添加专业信息模板
    function prebox(scname,scarea,skm,spc,data){
        $('.box-mb').append('<div id="detail-box" class="detail-box left mb20"><a href="#" title="删除" onclick="btndel(this)"><i class="glyphicon glyphicon-remove-sign right"></i></a><div class="ml10 pt10"><div class="box-title sczy">'+scname+'</div><p>'+skm+' '+spc+'批</p><p>所在地：<span>'+scarea+'</span></p></div><div class="box-score mt10"><div class="score-bg score-border tac">15年录取分：<span class="lqfs">'+data.data.lqf15+'分</span></div><div class="score-border tac ">14年录取分：<span class="lqfs">'+data.data.lqf14+'分</span></div><div class="score-bg score-border tac">13年录取分：<span class="lqfs">'+data.data.lqf13+'分</span></div></div></div>');
        mes.push({
            'sname':scname,
            'lqf':[parseInt(data.data.lqf15),parseInt(data.data.lqf14),parseInt(data.data.lqf13)]
        });

        $('.lqfs').each(function(){
            if($(this).text() == '0分'){
                $(this).text('-');
            }
        });
        if($('.box-mb').children().length >= 3){
            $('.detail-add').hide();
        }
    }

    //输入框非空判断
    function mnonempty(){
        if($('#school-area')[0].selectedIndex == 0){
            message('请选择院校所在地！');
        }else if($('#school-name')[0].selectedIndex == 0){
            message('请选择院校名称！');
        }else{
            return true;
        }
        return false;
    }

    //省option
    function pOption(data,id){
        for(var i=0;i<data.data.length;i++){
            $(id).append('<option value="'+data.data[i].region_id+'">'+data.data[i].region_name+'</option>');
        }
    }

    //学校Option
    function snameOption(data,id){
        for(var i=0;i<data.data.length;i++){
            $(id).append('<option value="'+(i+1)+'" name="'+data.data[i].cid+'">'+data.data[i].name+'</option>');
        }
    }

    //学校信息Option
    function scmoption(data,id){
        prebox(sName,sArea,sKm,sPcName,data);
    }

    function spage(){}

    //获取条件
    function Parameter(){
        //科类
        if($('.km input[type=radio]:checked').attr('value') == "理科"){
            sType=0;
        }else{
            sType=1;
        }
        //科目名称
        sKm=$('.km input[type=radio]:checked').attr('value');
        //批次名称
        sPcName=$('.school-pc').children().find('option:selected').text();
        //批次
        sPc=$('.school-pc').children().find('option:selected').attr('value');
        //地区
        sArea=$('#school-area option:selected').text();
        //学校名称
        sName=$('#school-name option:selected').text();
    }
</script>
