<div class="left case-yb auto">
    <div class="ml20 title-border-yb">
        <div class="case-title-yb">
            <i class="fa fa-tasks"><span class="ml10">帮助中心</span></i>
        </div>
        <div>
            <div class="mt10 ml20 mr20 pb10 case-content-yb">
                <div class="case-img-yb right ml20">
                    <a href="">
                        <img src="<?php echo arCfg('PATH.PUBLIC'); ?>img/pic1.png" width="120px" height="90px">
                    </a>
                </div>
                <a href="" class="title-name-yb">[太原]张德玉咨询专家定位广西师范学院</a>
                <p class="ml20">张德玉同学收到西安科技大学录取通知书 通知书正面通知书内容页大家好，我叫张德玉，来自陕西安康市，高中就读于汉滨区高级中学。在2015...</p>
                <a href="" class="title-detail-yb">查看详情 ></a>
            </div>
        </div> 
        <div class="case-bar-yb mb20"></div>
    </div>    
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('.helpCenter-yb div').addClass('active-yb');
        $('.menuName-yb').attr("href","<?php echo arU('System/helpCenter'); ?>");
        $('.menuName-yb').text('帮助中心');
    });
</script>
