<div class="left case-yb auto">
    <div class="ml20 title-border-yb">
        <div class="case-title-yb">
            <i class="fa fa-tasks"><span class="ml10">成功案例123</span></i>
        </div>
        <div class="mb20">
            <div class="mt10 ml20 mr20 pb10 case-content-yb">
                <div class="tac">
                    <a href="" class="title-name-yb">[太原]张德玉咨询专家定位广西师范学院</a>
                    <p>发布日期：2015-08-31 14:05<span class="ml10">阅读：9人</span></p>
                </div>
                <div class="case-img-yb tac">
                    <a href="">
                        <img src="<?php echo arCfg('PATH.PUBLIC'); ?>img/picDetail1.jpg" width="500px" height="600px">
                    </a>
                </div>
                <div class="mt20 caseDetail">
                    <p class="ml20 mr20">大家好，我叫孟浩然，是来自山西太原的理科考生，高中就读于太原市成成中学。在15年的高考中，我考了470分，算是正常发挥吧，希望能够通过志愿填报进个好点的二本院校。</p>
                    <p class="ml20 mr20 mt20">今年五月份的时候，学校组织了一次志愿填报讲座，通过这次讲座，我不仅知道了很多志愿填报的相关规则和技巧，还认识了王为愿老师。在进行志愿填报的过程中，王老师给了我很多帮助，特别是在使用第一高考网的志愿填报系统时，他给我做了很多的介绍和展示，让我能够更好地利用这个系统，为自己进行院校的选择和志愿的规划。最终，我被广西师范学院录取了，还是挺开心的。感谢王老师以及第一高考网!</p>
                </div>
                <div class="mt20 ml20 tags-yb">
                    资料标签：
                    <a href="">2015高考案例</a>
                    <a href="">循证网成功案例</a>
                    <a href="">成都师范学院</a>
                    <a href="">成都填志愿</a>
                </div>
            </div>
        </div>
        <div class="case-bar-yb mt20 mb20"></div>
        <div class="ml40 article-yb">上一篇：<a href="">区域定位西安科技大学</a></div>
        <div class="case-img-yb tac mt20 mb20">
            <a href="">
                <img src="<?php echo arCfg('PATH.PUBLIC'); ?>img/ad1.png" width="646px" height="100px">
            </a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('.successCase-yb div').addClass('active-yb');
        $('.menuName-yb').attr("href","<?php echo arU('System/successCase'); ?>");
        $('.menuName-yb').text('成功案例');
    });
</script>
