@charset "utf-8";
/* CSS Document */
/*常用公共类Public*/
/*浮动类*/
.left {
	float: left;
}
.right {
	float: right;
}
.auto {
	margin: 0 auto;
}
/*位置类*/
.pa {
	position: absolute;
}
.pr {
	position: relative;
}
.pf {
	position: fixed;
}
/*字符类*/
/*字符浮动类*/
.tac {
	text-align: center;
}
.tal {
	text-align: left;
}
.tar {
	text-align: right;
}
/*字符颜色类*/
.fcr {
	color: #b12;
}
.fcb {
	color: #48a;
}
.fcy {
	color: #FC0;
}
.fcg {
	color: #609700;/*微信绿*/
}
/*字符粗细类*/
.fwb {
	font-weight: bold;
}
.fwn {
	font-weight: normal;
}
/*字符大小继承性调节*/
.s12 {
	font-size: 12px;
}
.sizex1 {
	font-size: 1.1em;
}
.sizex2 {
	font-size: 1.2em;
}
.sizex3 {
	font-size: 1.3em;
}
.sizex4 {
	font-size: 1.4em;
}
.sizex5 {
	font-size: 1.5em;
}
.sizex6 {
	font-size: 1.6em;
}
.sizex7 {
	font-size: 1.7em;
}
.sizex8 {
	font-size: 1.8em;
}
.sizex9 {
	font-size: 1.9em;
}
.sizex10 {
	font-size: 2.0em;
}
/*边距类*/
/*上边距5px\10px\20px\30px\40px\50px*/
.mt5 {
	margin-top: 5px;
}
.mt10 {
	margin-top: 10px;
}
.mt20 {
	margin-top: 20px;
}
.mt30 {
	margin-top: 30px;
}
.mt40 {
	margin-top: 40px;
}
.mt50 {
	margin-top: 50px;
}
/*下边距5px\10px\20px\30px\40px\50px*/
.mb5 {
	margin-bottom: 5px;
}
.mb10 {
	margin-bottom: 10px;
}
.mb20 {
	margin-bottom: 20px;
}
.mb30 {
	margin-bottom: 30px;
}
.mb40 {
	margin-bottom: 40px;
}
.mb50 {
	margin-bottom: 50px;
}
/*左边距5px\10px\20px\30px\40px\50px*/
.ml5 {
	margin-left: 5px;
}
.ml10 {
	margin-left: 10px;
}
.ml20 {
	margin-left: 20px;
}
.ml30 {
	margin-left: 30px;
}
.ml40 {
	margin-left: 40px;
}
.ml50 {
	margin-left: 50px;
}
/*内边距类*/
.p25 {
	padding: 2px 5px;
}
.p20 {
	padding: 20px;
}
/*上内边距*/
.pt10 {
	padding-top: 10px;
}
.pt20 {
	padding-top: 20px;
}
.pt50 {
	padding-top: 50px;
}
/*右内边距*/
.pr10 {
	padding-right: 10px;
}
.pr20 {
	padding-right: 20px;
}
.pr50 {
	padding-right: 50px;
}
/*下内边距*/
.pb10 {
	padding-bottom: 10px;
}
.pb20 {
	padding-bottom: 20px;
}
.pb50 {
	padding-bottom: 50px;
}
/*左内边距*/
.pl10 {
	padding-left: 10px;
}
.pl20 {
	padding-left: 20px;
}
.pl50 {
	padding-left: 50px;
}
/*边线类*/
/*边框线型*/
.bssli {
	border-style: solid;
}
.bsdot {
	border-style: dotted;
}
.bsdas {
	border-style: dashed;
}
/*边框线宽1、2、3*/
.bw1 {
	border-width: 1px;
}
.bw2 {
	border-width: 2px;
}
.bw3 {
	border-width: 3px;
}
/*边框颜色*/
.bcb12 {
	border-color: #b12;
}
.bc888 {
	border-color: #888;
}
.bcaaa {
	border-color: #aaa;
}
.bcccc {
	border-color: #ccc;
}
/*四个边框的线型*/
.btw1 {
	border-width: 0px;
	border-top-width: 1px;
}
.brw1 {
	border-width: 0px;
	border-right-width: 1px;
}
.bbw1 {
	border-width: 0px;
	border-bottom-width: 1px;
}
.blw1 {
	border-width: 0px;
	border-right-width: 1px;
}
/*边框曲率*/
.br2 {
	border-radius: 2px;
}
.br5 {
	border-radius: 5px;
}
.br8 {
	border-radius: 8px;
}
.br10 {
	border-radius: 10px;
}
/*背景颜色类*/
.bgf1 {
	background: f1f1f1;
}
.bgf4 {
	background: #f4f4f4;
}
.bgf8 {
	background: #f8f8f8;
}
.bgfb {
	background: #fbfbfb;
}
.bgfe {
	background: #fefefe;
}
.bgred {
	background: #b12;
}
.bg4 {
	background: #444;
}
/*分页按钮*/
.page {
	height: 50px;
	width: 500px;
	width: auto;
	line-height: 50px;
	background: none repeat scroll 0 0 #f2f2f2;
}
.pagination {
	border-radius: 4px;
	display: inline-block;
	margin-top: 7px;
}
.pagination > li {
	display: inline;
}
.pagination > li > a, .pagination > li > span {
	margin: 0;
	padding: 0;
	border: 1px solid #ddd;
	color: #666;
	float: left;
	height: 33px;
	line-height: 33px;
	background-color: #fff;
	width: 33px;
}
.pagination > li > span.currunt {
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	margin-left: 0;
}
#acount .pagination li a{
	color:#333;}
.pagination > li:last-child > a, .pagination > li:last-child > span {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .pagination > li > span.current {
	background-color: #666;
	border-color: #666;
	color: #fff;
	cursor: default;
	z-index: 2;
}
/*分页按钮*/

