<div id="page">
<header class="header">
    <a href="javascript:history.go(-1);" id="xzlh-back"><span class="glyphicon glyphicon-menu-left tzwz"></span></a>
    <span class="page-tit">高考模拟填报</span>
</header>
<section class="content">
<div class="main clearfix">
<div class="moni center-block">
<!-- 高考成绩模拟填报系统 -->
<div class="system-title clearfix">
    <h2 class="left"><i class="fa fa-gear"></i>&nbsp;高考成绩模拟填报系统</h2>
    <ul class="hmenu">
        <li><b>1</b>输入高考成绩</li>
        <li><b>2</b>选择填报批次</li>
        <li><b>3</b>选择院校专业</li>
        <li class="selected"><b>4</b>生成模拟志愿表</li>
    </ul>
</div>
<hr class="fgx">
<!--志愿表单-->
<h4 class="text-center" style="color: #333;font-weight: bold;background: #fbf8ca;padding: 10px 0;font-size: 16px;">
    我的志愿单--(<span class="scType">普通类第一批本科</span>)</h4>

<div class="table-responsive zy-allform">
<table class="table-bordered fs14px-bzh">
<tbody>
<tr class="text-center">
    <th style="width:10%;"></th>
    <th style="width:40%;">学校名称</th>
    <th style="width:35%;">专业名称</th>
    <th style="width:15%;">是否服从专业调配</th>
</tr>
<tr><!-- A志愿 -->
    <td>A<br>志<br>愿</td>
    <td class="item-bzh vat-bzh">
                                <span class="schoolMes" value="A">
                                    <ul class="left ">
                                        <li class="">学校名称：<span class="c-name " value="A">哈尔滨佛学院</span></li>
                                        <li>学校所在地：<span class="scarea">北京</span></li>
                                        <li class="xbj clearfix ">历年录取：<span><a class="sc-detail"><i
                                                class="fa fa-bar-chart"></i></a></span></li>
                                        <li class="">投档概率：<span class="verifica-sum">68%</span></li>
                                    </ul>
                                </span>
    </td>
    <td class="item-bzh">
        <ul class="zymk" value="A">
            <li class="">
                <span><span>1.</span><span class="" value="1">考古学</span></span>
            </li>
            <li>
                <span><span>2.</span><span class="" value="2">解剖学</span></span>
            </li>
            <li>
                <span><span>3.</span><span class="" value="3">地质学</span></span>
            </li>
            <li>
                <span><span>4.</span><span class="" value="4"></span></span>
            </li>
            <li>
                <span><span>5.</span><span class="" value="5"></span></span>
            </li>
            <li>
                <span><span>6.</span><span class="" value="6"></span></span>
            </li>
        </ul>
    </td>
    <td>
        <span>是</span>
    </td>
</tr>
<tr><!-- B志愿 -->
    <td>B<br>志<br>愿</td>
    <td class="item-bzh vat-bzh">
                                <span class="schoolMes" value="B">
                                    <ul class="left ">
                                        <li class="">学校名称：<span class="c-name " value="B">耶鲁大学</span></li>
                                        <li class="">学校所在地：<span class="scarea">北京</span></li>
                                        <li class="xbj clearfix ">历年录取：<span><a class="sc-detail"><i
                                                class="fa fa-bar-chart"></i></a></span></li>
                                        <li class="">投档概率：<span class="verifica-sum">72%</span></li>
                                    </ul>
                                </span>
    </td>
    <td class="item-bzh">
        <ul class="zymk" value="B">
            <li class="">
                <span><span>1.</span><span class="" value="1">国际经济与贸易</span></span>
            </li>
            <li>
                <span><span>2.</span><span class="" value="2">会计学</span></span>
            </li>
            <li>
                <span><span>3.</span><span class="" value="3">人力资源管理</span></span>
            </li>
            <li>
                <span><span>4.</span><span class="" value="4"></span></span>
            </li>
            <li>
                <span><span>5.</span><span class="" value="5"></span></span>
            </li>
            <li>
                <span><span>6.</span><span class="" value="6"></span></span>
            </li>
        </ul>
    </td>
    <td>
        <span>是</span>
    </td>
</tr>
<tr><!-- C志愿 -->
    <td>C<br>志<br>愿</td>
    <td class="item-bzh vat-bzh">
                                <span class="schoolMes" value="C">
                                    <ul class="left  clear">
                                        <li class="">学校名称：<span class="c-name " value="C"></span></li>
                                        <li class="">学校所在地：<span class="scarea"></span></li>
                                        <li class="xbj clearfix ">历年录取：<span><a class="sc-detail"><i
                                                class="fa fa-bar-chart"></i></a></span></li>
                                        <li class="">投档概率：<span class="verifica-sum"></span></li>
                                    </ul>
                                </span>
    </td>
    <td class="item-bzh">
        <ul class="zymk" value="C">
            <li class="">
                <span><span>1.</span><span class="" value="1"></span></span>
            </li>
            <li>
                <span><span>2.</span><span class="" value="2"></span></span>
            </li>
            <li>
                <span><span>3.</span><span class="" value="3"></span></span>
            </li>
            <li>
                <span><span>4.</span><span class="" value="4"></span></span>
            </li>
            <li>
                <span><span>5.</span><span class="" value="5"></span></span>
            </li>
            <li>
                <span><span>6.</span><span class="" value="6"></span></span>
            </li>
        </ul>
    </td>
    <td>
        <span></span>
    </td>
</tr>
<tr><!-- D志愿 -->
    <td>D<br>志<br>愿</td>
    <td class="item-bzh vat-bzh">
                                <span class="schoolMes" value="D">
                                    <ul class="left  clear">
                                        <li class="">学校名称：<span class="c-name " value="D"></span></li>
                                        <li class="">学校所在地：<span class="scarea"></span></li>
                                        <li class="xbj clearfix ">历年录取：<span><a class="sc-detail"><i
                                                class="fa fa-bar-chart"></i></a></span></li>
                                        <li class="">投档概率：<span class="verifica-sum"></span></li>
                                    </ul>
                                </span>
    </td>
    <td class="item-bzh">
        <ul class="zymk" value="D">
            <li class="">
                <span><span>1.</span><span class="" value="1"></span></span>
            </li>
            <li>
                <span><span>2.</span><span class="" value="2"></span></span>
            </li>
            <li>
                <span><span>3.</span><span class="" value="3"></span></span>
            </li>
            <li>
                <span><span>4.</span><span class="" value="4"></span></span>
            </li>
            <li>
                <span><span>5.</span><span class="" value="5"></span></span>
            </li>
            <li>
                <span><span>6.</span><span class="" value="6"></span></span>
            </li>
        </ul>
    </td>
    <td>
        <span></span>
    </td>
</tr>
<tr><!-- E志愿 -->
    <td>E<br>志<br>愿</td>
    <td class="item-bzh vat-bzh">
                                <span class="schoolMes" value="E">
                                    <ul class="  clear">
                                        <li class="">学校名称：<span class="c-name " value="E"></span></li>
                                        <li class="">学校所在地：<span class="scarea"></span></li>
                                        <li class="xbj clearfix ">历年录取：<span><a class="sc-detail"><i
                                                class="fa fa-bar-chart"></i></a></span></li>
                                        <li class="">投档概率：<span class="verifica-sum"></span></li>
                                    </ul>
                                </span>
    </td>
    <td class="item-bzh">
        <ul class="zymk" value="E">
            <li class="">
                <span class=""><span>1.</span><span class="" value="1"></span></span>
            </li>
            <li>
                <span class=""><span>2.</span><span class="" value="2"></span></span>
            </li>
            <li>
                <span class=""><span>3.</span><span class="" value="3"></span></span>
            </li>
            <li>
                <span class=""><span>4.</span><span class="" value="4"></span></span>
            </li>
            <li>
                <span class=""><span>5.</span><span class="" value="5"></span></span>
            </li>
            <li class="clearfloat">
                <span class=""><span>6.</span><span class="" value="6"></span></span>
            </li>
        </ul>
    </td>
    <td>
        <span></span>
    </td>
</tr>
<tr><!-- F志愿 -->
    <td>F<br>志<br>愿</td>
    <td class="item-bzh vat-bzh">
                                <span class="schoolMes" value="F">
                                    <ul class="  clear">
                                        <li class="">学校名称：<span class="c-name " value="F"></span></li>
                                        <li class="">学校所在地：<span class="scarea"></span></li>
                                        <li class="xbj clearfix ">历年录取：<span><a class="sc-detail"><i
                                                class="fa fa-bar-chart"></i></a></span></li>
                                        <li class="">投档概率：<span class="verifica-sum"></span></li>
                                    </ul>
                                </span>
    </td>
    <td class="item-bzh">
        <ul class="zymk" value="F">
            <li class="">
                <span class=""><span>1.</span><span class="" value="1"></span></span>
            </li>
            <li>
                <span class=""><span>2.</span><span class="" value="2"></span></span>
            </li>
            <li>
                <span class=""><span>3.</span><span class="" value="3"></span></span>
            </li>
            <li>
                <span class=""><span>4.</span><span class="" value="4"></span></span>
            </li>
            <li>
                <span class=""><span>5.</span><span class="" value="5"></span></span>
            </li>
            <li>
                <span class=""><span>6.</span><span class="" value="6"></span></span>
            </li>
        </ul>
    </td>
    <td>
        <span></span>
    </td>
</tr>
</tbody>
</table>
</div>
<div class="text-center iback iback-a">
    <a href="<?php echo arU('Index/simulationSystemOneSchool') ?>" title="返回" class="zyBack">返回</a>
    <a title="修改" class="zyUpdate">修改</a>
    <a title="保存" class="zySave">保存</a>
</div>
</div>

</div>
</section>
