
    <div id="page">
        <section class="content xzlh-user">
            <div>
                <div class="xzlh-userhead">
                    <div class="xzlh-head">
                        <span>
                            <img src="<?php echo arCfg('PATH.PUBLIC');?>img/case1.jpg" alt="头像">
                        </span>
                        <span>普通会员</span>
                        <h3>菜振华</h3>
                        <div class="xzlh-vip clearfix">
                            <span><a href="">购志愿卡享VIP特权</a></span>
                            <span><a href="">查看个人VIP权限</a></span>
                        </div>
                    </div>
                </div>
                <div class="xzlh-featuresList">
                    <ul>
                        <li>
                            <a href="../User/userdetail.html" class="clearfix">
                                <span style="background:url('<?php echo arCfg('PATH.PUBLIC');?>img/user1.jpg') no-repeat 0 0/100% 100%;"></span>
                                <span>个人资料</span>
                                <span class="glyphicon glyphicon-menu-right"></span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="clearfix">
                                <span style="background:url('<?php echo arCfg('PATH.PUBLIC');?>img/user2.jpg') no-repeat 0 0/100% 100%;"></span>
                                <span>我的成绩</span>
                                <span class="glyphicon glyphicon-menu-right"></span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="clearfix">
                                <span style="background:url('<?php echo arCfg('PATH.PUBLIC');?>img/user3.jpg') no-repeat 0 0/100% 100%;"></span>
                                <span>我的志愿表</span>
                                <span class="glyphicon glyphicon-menu-right"></span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="clearfix">
                                <span style="background:url('<?php echo arCfg('PATH.PUBLIC');?>img/user4.jpg') no-repeat 0 0/100% 100%;"></span>
                                <span>我关注的院校</span>
                                <span class="glyphicon glyphicon-menu-right"></span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="clearfix">
                                <span style="background:url('<?php echo arCfg('PATH.PUBLIC');?>img/user5.jpg') no-repeat 0 0/100% 100%;"></span>
                                <span>我的诊断模拟志愿</span>
                                <span class="glyphicon glyphicon-menu-right"></span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="clearfix">
                                <span style="background:url('<?php echo arCfg('PATH.PUBLIC');?>img/user6.jpg') no-repeat 0 0/100% 100%;"></span>
                                <span>我的高考模拟志愿</span>
                                <span class="glyphicon glyphicon-menu-right"></span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="clearfix">
                                <span style="background:url('<?php echo arCfg('PATH.PUBLIC');?>img/user8.jpg') no-repeat 0 0/100% 100%;"></span>
                                <span>客服电话 400-820-8888</span>
                                <span class="glyphicon glyphicon-menu-right"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
