<div id="page">
    <header class="header">
        <a href="javascript:history.go(-1);" id="xzlh-back">
            <span class="glyphicon glyphicon-menu-left tzwz"></span>
        </a>
        <span class="page-tit">选择报考批次</span>
    </header>
    <section class="content">
        <div class="main clearfix">
            <div>
                <img style="width: 100%;" src="http://staticv2m.youzy.cn/images/tzy/banner1.jpg">
            </div>

            <div class="moni center-block">
                <div class="">
                    <div class="bge-bzh row clearfix">
                        <div class="col-xs-12 xiugai">
                            <span>您的高考成绩</span> 科类：
                            <span class="wenke"><?php echo arRequest('km'); ?></span>总分：
                            <span class="wenke "><?php echo arRequest('score'); ?></span>
                            <span class=""></span>
                        </div>
                        <div class="col-xs-12 text-center" style="margin-top:.1rem">
                            <a class="btn btn-success btn-xs" href="javascript:;">
                                <i class="fa fa-wrench"></i>&nbsp;修改成绩
                            </a>
                        </div>
                    </div>
                </div>
                <div class="bdr clearfix inputscore">
                    <h4 class="pl10">
                        <span class="fa-stack fa-lg fs14px-bzh">
                            <i class="fa fa-square fa-stack-2x fc3-bzh"></i>
                            <i class="fa fa-terminal fa-stack-1x fa-inverse "></i>
                        </span>&nbsp;
                        <span class="vam-bzh">选择下列批次 </span>
                    </h4>
                </div>
                <div class="fillin step1">
                    <ul>
                        <!--<li><a href="javascript:" class="btn btn-warning" id="no-open">暂未开启</a>提前批填报院校</li>-->
                        <li class="" id="tbzy-tip"><a href="javascript:" class="btn btn-info">选择</a>普通类第一批本科</li>
                        <li><a href="javascript:" class="btn btn-info" id="bx1">选择</a>普通类第二批本科</li>
                        <li><a href="javascript:" class="btn btn-info" id="bx3">选择</a>普通类第一批（专科）</li>
                        <li><a href="javascript:" class="btn btn-info" id="bx4">选择</a>普通类第二批（专科）</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        $(function(){
            ajaxdata('<?php echo AR_SERVER_PATH; ?>Api/userScore','POST','',function(data){});
            //ajaxdata('<?php echo AR_SERVER_PATH; ?>Api/wc','POST',{score:$('input[name=score]').val(),km:kms($('input[type=radio]:checked').val())},wc);

            $('input[type=radio]').change(function(){
                var dat = {score:$('input[name=score]').val(),km:kms($(this).val())}
                ajaxdata('<?php echo AR_SERVER_PATH; ?>Api/wc','POST',dat,wc)
            });

            function wc(dat){
                if (dat.ret_code == 1000) {
                    $('input[name=wc]').val(dat.data.wc);
                }else{
                    layer.open({
                        content: '抱歉，未查询到相关信息！',
                        time: 1.5
                    });
                }
            }
        })

       $(function(){
           var score = "<?php echo arRequest('score'); ?>",
                   km = kms("<?php echo arRequest('km'); ?>");
           ajaxdata('<?php echo AR_SERVER_PATH; ?>Api/pcinfo','POST',{score: score,km:km},pcinfo);

           function pcinfo(dat){
               if (dat.ret_code == 1000) {
                   seclect(dat.data);
               }else{
                   layer.open({
                       content: "请求服务器数据失败！",
                       time: 1.5
                   });
               }
           }

           function seclect(data){
               var cat = 0;
               for (var i = 0; i < data.length; i++) {
                   if (data[i].is_disabled == 1) {
                       cat += 1;
                   }
               }
               for (var i = 0; i < data.length; i++) {
                   pd(data[i].pcnumber,data[i]);
               }

               function pd(num,obj){
                   if (num != 0) {
                       if (obj.is_disabled == 0) {
                           if (obj.is_zd == 1 && obj.is_bx == 0) {
                               $('.fillin li').eq(num).append('<span class="badge" style="margin-left: .1rem">推荐</span>').find('a').text('重点填报').data('value',num).tap(function(){
                                   layerlt('您马上进入志愿填报，请谨慎填写!',['马上使用','重新选择'],yes);
                                   var pc = $(this).data('value');
                                   function yes(){
                                       window.location.href="<?php echo arU('Index/') ?>?score="+score+"&km="+km+"&pc="+pc;
                                   };
                               });
                           }else if(obj.is_zd == 0 && obj.is_bx == 1){
                               $('.fillin li').eq(num).find('a').text('备选填报'+(num-cat)).data('value',num).tap(function(){
                                   layerlt('您马上进入志愿填报，请谨慎填写!',['马上使用','重新选择'],yes);
                                   var pc = $(this).data('value');
                                   function yes(){
                                       window.location.href="<?php echo arU('Index/gaokaomoni') ?>?score="+score+"&km="+km+"&pc="+pc;
                                   };
                               });
                           }
                       }else{
                           $('.fillin li').eq(num).find('a').text('无效填报').tap(function(){
                               layerlt('你的分数不够本批次，无法点击选择！',['重新选择','取消'],yes);
                               function yes(){layer.closeAll();};
                           });
                       }
                   }else{
                       $('.fillin li').eq(0).find('a').text('尚未开启').tap(function(){
                           layerlt('此批次院校填报尚未开启，您不能填报次批次！',['重新选择','取消'],yes);
                           function yes(){layer.closeAll();};
                       });
                   }
               }
           }

           function layerlt(msg,btn,yescallback,nocallback){
               layer.open({
                   title:['信息','color:red;background:#e1e1e1;font-size:19px;font-weight:600;padding-left: 20px;'],
                   style:'background:#eee',
                   shadeClose:false,
                   className:'tips-container',
                   content: '<div class="m-content clearfix" style="margin: 10px auto">\
                            <i class="fa fa-times-circle fl" style="color: red;font-size: 28px;width: 10%;margin-top:-4px;"></i>\
                            <div class="fr" style="width: 88%;">'+msg+'</div>\
                        </div>',
                   btn:btn,
                   yes: function(index){
                       yescallback();
                   },
                   no: function(){
                       layer.closeAll();
                   }
               });
           }
           //填报提示
           $('.texttip').hide();
           $('#imgtips').bind('click',function(){
               $('.texttip').toggle();
           });
       });
    </script>
