<div class="portlet yellow box">
   <div class="portlet-title">
      <div class="caption"><i class="icon-cogs"></i>整站数据</div>
   </div>
   <div class="portlet-body">
      <div class="note note-success">
         <h4 class="block"><a href="<?php echo arU('User/index'); ?>">用户数据</a></h4>
         <p>用户数：<?php echo $userCount; ?></p>
      </div>
      <!-- <div class="note note-danger">
         <h4 class="block"><a href="<?php echo arU('Product/index'); ?>">产品数据</a></h4>
         <p>产品数：<?php echo $productCount; ?></p>
      </div>
       <div class="note note-success">
         <h4 class="block"><a href="<?php echo arU('Coupon/index'); ?>">红包现金券数</a></h4>
         <p>红包数：<?php echo $bonusCount; ?></p>
          <p>现金券数：<?php echo $cashCount; ?></p>
      </div> -->
      <div class="note note-danger">
         <h4 class="block"><a href="<?php echo arU('Article/index'); ?>">文章数据</a></h4>
         <p>文章数：<?php echo $articleCount; ?></p>

      </div>
      <div class="note note-success">
         <h4 class="block"><a href="<?php echo arU('Ad/index'); ?>">广告数据</a></h4>
         <p>广告数：<?php echo $adCount; ?></p>
      </div>

   </div>
</div>