</div>
<!-- END PAGE -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="footer">
<div class="footer-inner">
技术支持 成都梦之门科技
</div>
<div class="footer-tools">
<span class="go-top">
<i class="icon-angle-up"></i>
</span>
</div>
</div>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<?php include 'Seg/footer.seg'; ?>
<?php /**必须调用自动加载的js seg*/ include arCfg('DIR.SEG') . 'Sys/js.seg'; ?>
<!-- END PAGE LEVEL SCRIPTS -->

<!-- END JAVASCRIPTS -->




</body>
<!-- END BODY -->
</html>
<style>
    .readed_msg{
  color:#765834;
  display: inline-block;
  cursor: pointer;
}
.admin_msg_content{
    margin-left: 8px;
    background:#FBF3DA;
    border:1px solid #FDF9EE;
}
.admin_msg_more{
    margin-left: 200px;
}
</style>

<div class='admin_msg'>
</div>