<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>循证</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <link rel="stylesheet" href="<?php echo arCfg('PATH.PUBLIC');?>bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="<?php echo arCfg('PATH.PUBLIC');?>font-awesome/css/font-awesome.css">
    <script type="text/javascript" src="<?php echo arCfg('PATH.PUBLIC');?>js/zepto.min.js"></script>
    <script type="text/javascript" src="<?php echo arCfg('PATH.PUBLIC');?>js/layer_mobile/layer.js"></script>
    <script type="text/javascript" src="<?php echo arCfg('PATH.PUBLIC');?>js/public.js?<?php echo mt_rand(1000, 10000); ?>"></script>
    <script type="text/javascript" src="<?php echo arCfg('PATH.PUBLIC');?>js/islider.js"></script>
    <link rel="stylesheet" href="<?php echo arCfg('PATH.PUBLIC');?>css/style.css">
    <link rel="stylesheet" href="<?php echo arCfg('PATH.PUBLIC');?>css/findExpert.css">
    <link rel="stylesheet" href="<?php echo arCfg('PATH.PUBLIC');?>css/user.css">
    <link href="<?php echo arCfg('PATH.PUBLIC'); ?>video-js/video-js.min.css" rel="stylesheet" type="text/css" media="all" />
    <?php /**必须加载的 css seg*/ include arCfg('DIR.SEG') . 'Sys/css.seg'; ?>
</head>
<body>