<div class="portlet box green ">
	<div class="portlet-title">
		<div class="caption"> <i class="icon-reorder" style="color:#333;"></i> 修改密码 </div>
	</div>
	<div class="portlet-body form">
		<form role="form" method="post" action="<?php echo arU(''); ?>" class="form-horizontal">
			<div class="form-body">
				<div class="form-group">
					<label class="col-md-3 control-label" for="originPass">原密码</label>
					<div class="col-md-4">
						<input type="text" name="originPass" class="form-control" id="originPass" placeholder="原密码">
					</div>
				</div>
				<div class="form-group">
					<label for="newPass" class="col-md-3 control-label">新密码</label>
					<div class="col-md-4">
						<input type="password" name="newPass" class="form-control" id="newPass" placeholder="新密码">
					</div>
				</div>
				<div class="form-group">
					<label for="confirmPass" class="col-md-3 control-label">确认密码</label>
					<div class="col-md-4">
						<input type="password" name="confirmPass" class="form-control" id="confirmPass" placeholder="确认密码">
					</div>
				</div>
				<div class="form-group">
				<div style=" margin-left:25%;">
					<button type="submit" class="btn btn-info">修改</button>
				</div>
				</div>
			</div>
		</form>
	</div>
</div>
