<h3>添加网站内容</h3>
<form role="form" action='<?php echo arU('setManager',array('opt'=>'adding')); ?>' method='get'>
  <div class="form-group">
    <label for="exampleInputEmail1">名称</label>
    <input type="text" class="form-control" name='s_sname'  placeholder="你需要填写的名称">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">内容</label>
    <input type="text" class="form-control" name='s_content'  placeholder="你需要填写的内容">
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">备注</label>
   <?php
      // 调用用html seg 直接输出 select标签
      arSeg(
         array(
            // seg文件
            'segKey' => 'Html/select',
            // <select name="name">
            'name' => 's_remark',
            // 适配器数据 数组
            'map' => SettingModel::$SITE_MAP,
            // 选中的value selected = selected
            // 'selected' => $set['s_remark']
         )
      );
    ?>
  </div>


  <button type="submit" class="btn btn-default">添加</button>
</form>