<div class="portlet box purple">
   <div class="portlet-title">
      <div class="caption"><i class="icon-reorder"></i>分类编辑/添加</div>
   </div>
   <div class="portlet-body form">
      <!-- BEGIN FORM-->
      <form action="<?php echo arU('', array('greedyUrl' => true)); ?>" method="post" class="form-horizontal">
         <input type="hidden" name="cid" value="<?php echo $cat['cid']; ?>" />
         <div class="form-body">
            <div class="form-group">
               <label class="col-md-3 control-label">名称</label>
               <div class="col-md-4">
                  <input type="text" name="name" class="form-control" value="<?php echo $cat['name']; ?>" placeholder="名称">
               </div>
            </div>
             <div class="form-group">
               <label class="col-md-3 control-label">是否显示到新闻页</label>
               <div class="col-md-4">
                 <?php
      // 调用用html seg 直接输出 select标签
      arSeg(
         array(
            // seg文件
            'segKey' => 'Html/select',
            // <select name="name">
            'name' => 'innews',
            // 适配器数据 数组
            'map' => ArticleCatModel::$NEWS_MAPS,
            // 选中的value selected = selected
            'selected' => $cat['innews']
         )
      );
?> 
               </div>
            </div>
             <div class="form-group">
               <label class="col-md-3 control-label">排序</label>
               <div class="col-md-4">
                  <input type="text" name="sorder" class="form-control" value="<?php echo $cat['sorder']; ?>" placeholder="排序越大越靠前">
               </div>
            </div>
         </div>
         <div class="form-actions nobg fluid">
            <div class="col-md-offset-3 col-md-9" style="margin-left:18%;">
               <button type="submit" class="btn green">提交</button>
            </div>
         </div>
      </form>
      <!-- END FORM-->
   </div>
</div>
<script>
//上传文件
  function ajaxFileUpload(oname){
    $.ajaxFileUpload(
      {
        url:'<?php echo arU('uploadPic'); ?>',
        secureuri:false,
        fileElementId:oname,
        dataType: 'json',
        data:{id:'id'},
        success: function (data, status)
        {
          // alert(data);
          if (data.ret_code == '1000') {
            $('#upImg').show();
            $("#upImg").attr('src', data.data.url);
            $("[name='headpic']").attr('value', data.data.url);
            // $('input[name=gid]').val(data.data.gid);
          }
        },
        error: function (data, status, e)
        {
          alert(e);
        }
      }
    )

  }
  </script>
